{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig'%}
{% block home %}
   
   <style>
      .col-lg-3 {
         display: none !important;
     }

     .col-lg-9 {
         width: 100% !important;
     }

   </style>
   <link type="text/css" rel="stylesheet" href="{{ asset('theme/plugins/datatables/dataTables.bootstrap.css') }}">
   
   <input id="carreraSeleccionada" value="" type="hidden" >
   
   <div class="col-lg-9">
		<div class="panel  panel-primary">
			<!--<div class="panel-heading">
				Collapsible Accordion Panel Group
			</div>-->
			<!-- .panel-heading -->
			<div class="panel-body">
				<div class="panel-group" id="accordionCarreras">
               {% if data.datosCarreras=='error'%} Se presentó un problema para presentar las carreras. Por favor contacte a soporte técnico. {% endif %}
               {% for countCarreras, datosCarrera in data.datosCarreras %}
                  <input id="materiaSeleccionada-Carrera_{{datosCarrera.id_sa_carrera}}" value="" type="hidden" >
                  <input id="nombreMateriaSeleccionada-Carrera_{{datosCarrera.id_sa_carrera}}" value="" type="hidden" >
                  <input id="inicioCiclo-Carrera_{{datosCarrera.id_sa_carrera}}" value="{{datosCarrera.fecha_inicio}}" type="hidden" >
                  <input id="finCiclo-Carrera_{{datosCarrera.id_sa_carrera}}" value="{{datosCarrera.fecha_fin}}" type="hidden" >
                  <input id="Ciclo-Detalle_{{datosCarrera.id_sa_carrera}}" value="{{datosCarrera.id_sa_ciclo_detalle}}" type="hidden" >
                  <input id="Ciclo-Descripcion_{{datosCarrera.id_sa_carrera}}" value="{{datosCarrera.ciclo_descripcion}}" type="hidden" >
                  <input id="nombre-Carrera_{{datosCarrera.id_sa_carrera}}" value="{{datosCarrera.nombre}}" type="hidden" >
                  <input id="idCiclo-Carrera_{{datosCarrera.id_sa_carrera}}" value="{{datosCarrera.id_sa_ciclo_detalle}}" type="hidden" >
                  <div id="panelCentralCarrera-{{datosCarrera.id_sa_carrera}}" class="panel panel-default">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                           <a id="idCarrera-{{datosCarrera.id_sa_carrera}}" class="linkCarreras" data-toggle="collapse" data-parent="#accordionCarreras" href="#collapse{{countCarreras+1}}">{{datosCarrera.nombre}}</a>
                           <div style="float:right; margin-top: -7px;">
                              <button id="homeCarrera-{{datosCarrera.id_sa_carrera}}" class="btn btn-default btn-circle" type="button" style="font-size: 16px; padding: 2px 6px;">
                                 <i class="fa fa-home"></i>
                              </button>
                           </div>
                        </h4>
                     </div>
                     <div id="collapse{{countCarreras+1}}" class="panel-collapse collapse">
                        <div  id="panelCarrera-{{datosCarrera.id_sa_carrera}}" class="panel-body"></div>
                     </div>
                  </div>
               {% endfor %}
				</div>
			</div>
			<!-- .panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-9 -->
	<div id="panelInfoAdicional" class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading" id="panelInfoAdicional_headerlabel">
                <!-- Primary Panel-->
            </div>
            <div class="panel-body">
                <!-- aqui va todo -->
                <div id="menuGeneralDocente" class="col-lg-12 col-md-6" style="display:none;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-default btn-circle btn-lg listaAsistenciasMateria" type="button" title="Histórico de asistencia de Alumnos">
                                        <i class="fa fa-list"></i>
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-default btn-circle btn-lg listaNotasMateria" title="Histórico de asistencia de Alumnos" type="button">
                                        <i class="fa fa-mortar-board"></i>
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-default btn-circle btn-lg visionMateria" type="button" title="Vista General de la Materia">
                                        <i class="fa fa-bar-chart-o"></i>
                                    </button>
                                </div>
                                {#<div class="col-xs-3">
                                    <button class="btn btn-default btn-circle btn-lg" type="button">
                                        <i class="fa fa-briefcase "></i>
                                    </button>
                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="infoCalendarioDocente" class="col-lg-12 col-md-6" style="display:none;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa fa-calendar fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Calendario</div>
                                    <div>de clases de la materia</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Ver en detalle</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                {#<div id="chartAsistencias" class="col-lg-12 col-md-6" style="display:none;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Asistencias - Vista General
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <img id="img_demo" src="{{ asset('images/chart_demo.png') }}" width="251" />
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>#}
                <div id="panelMaterias_1" class="col-lg-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="panelMaterias_2" class="col-lg-12 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="panelMaterias_3" class="col-lg-12 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- aqui termina todo -->
            </div>
            <div class="panel-footer">
                <!--Panel Footer-->
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
	<script type="text/javascript">
      $(document).ready(function(){
         
         $("#perfilActualUsuario").html("<b>Docente<b>");
         $("#editarPerfil").show();
         $(".listaAsistenciasMateria").on('click', function(event){
            event.preventDefault();
            
            var idCarrera  = $("#idCarreradeMateriaSelected").val();
            var idMateria  = $("#idMateriaSelected").val();
            var obj_data = {'idMateria':idMateria,'idCarrera':idCarrera};
            var optionSelect = $("#panelCarrera-"+idCarrera);
	    
            var jumpOption = '{{path('docentes_listado_alumnos_materia')}}';

            if($("#idCarreradeMateriaSelected").val() !== $("#carreraSeleccionada").val()) {
               $("div[id^='collapse']").removeClass("in");
               setTimeout(function(){
                  $("#panelCentralCarrera-"+idCarrera+" div[id^='collapse']").collapse('show');
               }, 10);
            }
            
            $.ajax({
               url:  jumpOption,
               type: 'post',
               data: obj_data,
               async: false,
               beforeSend: function () {
                 //optionSelect.closest(".panel-body").html("Procesando, espere por favor...");
               },
               error: function(){
                  //console.log("hay un error");
                  var mensajeErrorNotas   = "Lo sentimos. Se  presentó un problema para cargar el listado de asistencias."
                  lanzarModal('Listado de asistencias',mensajeErrorNotas,'Aceptar');//alert(mensajeErrorNotas);
               },
               success:  function (dataResponse) {
                 //console.log(optionSelect.closest(".panel-body"));
                 optionSelect .html(dataResponse);
               },
               dataType:'html'
            });
         });

         $(".listaNotasMateria").on('click', function(event){
            event.preventDefault();
            
            var idCarrera  = $("#idCarreradeMateriaSelected").val();
            var idMateria  = $("#idMateriaSelected").val();
            
            var obj_data = {'idMateria':idMateria};
            var optionSelect = $("#panelCarrera-"+idCarrera);
            var jumpOption = '{{path('docentes_notas_alumnos_materia')}}';

            /*$("div[id^='collapse']").collapse('hide');
            $("#panelCentralCarrera-"+idCarrera+" div[id^='collapse']").collapse('show');*/
            
            if($("#idCarreradeMateriaSelected").val() !== $("#carreraSeleccionada").val()) {
               $("div[id^='collapse']").removeClass("in");
               setTimeout(function(){
                  $("#panelCentralCarrera-"+idCarrera+" div[id^='collapse']").collapse('show');
               }, 10);
            }

            $.ajax({
               url:  jumpOption,
               type: 'post',
               data: obj_data,
               async: false,
               beforeSend: function () {
                 //optionSelect.closest(".panel-body").html("Procesando, espere por favor...");
               },
               error: function(){
                  //console.log("hay un error");
                  var mensajeErrorNotas   = "Lo sentimos. Se  presentó un problema para cargar la consulta de notas."
                  lanzarModal('Consulta de Notas',mensajeErrorNotas,'Aceptar');//alert(mensajeErrorNotas);
               },
               success:  function (dataResponse) {
                 //console.log(optionSelect.closest(".panel-body"));
                 optionSelect .html(dataResponse);
               },
               dataType:'html'
            });
         });


         $(".visionMateria").on('click', function(event){
            event.preventDefault();
            
            var idCarrera  = $("#idCarreradeMateriaSelected").val();
            var idMateria  = $("#idMateriaSelected").val();
            
            var obj_data = {'idMateria':idMateria};
            var optionSelect = $("#panelCarrera-"+idCarrera);
            var jumpOption = '{{path('docentes_vision_materia')}}';

            /*$("div[id^='collapse']").collapse('hide');
            $("#panelCentralCarrera-"+idCarrera+" div[id^='collapse']").collapse('show');*/
            
            if($("#idCarreradeMateriaSelected").val() !== $("#carreraSeleccionada").val()) {
               $("div[id^='collapse']").removeClass("in");
               setTimeout(function(){
                  $("#panelCentralCarrera-"+idCarrera+" div[id^='collapse']").collapse('show');
               }, 10);
            }

            $.ajax({
               url:  jumpOption,
               type: 'post',
               data: obj_data,
               async: false,
               beforeSend: function () {
                 //optionSelect.closest(".panel-body").html("Procesando, espere por favor...");
               },
               error: function(){
                  //console.log("hay un error");
                  var mensajeErrorNotas   = "Lo sentimos. Se  presentó un problema para cargar la vista general de la materia."
                  lanzarModal('Vista General de la Materia',mensajeErrorNotas,'Aceptar');
               },
               success:  function (dataResponse) {
                 //console.log(optionSelect.closest(".panel-body"));
                 optionSelect .html(dataResponse);
               },
               dataType:'html'
            });
         });
         
         
         $(".linkCarreras, button[id^='homeCarrera-']").on('click', function(){
            
            var idSplit          = $(this).attr('id').split('-');
            var nombreElemento   = idSplit[0]; 
            var idCarrera        = idSplit[1]; 
            var idDocente        = {{data.datosDocente.idDocente}}; 
            var tablaMaterias    = $('#panelCarrera-'+idCarrera);

            $("#carreraSeleccionada").val(idCarrera);
            
            
            var obj_data = {'idDocente': idDocente,'idCarrera':idCarrera};
            var jumpAction = '{{path('docentes_listado_materias')}}';
            if(tablaMaterias.is(':empty') || nombreElemento.indexOf("homeCarrera")>=0 ) {
              // notificacionIndex = cargandoSitio(null, null, null);
               if(nombreElemento.indexOf("homeCarrera")>=0) {
                  $("#materiaSeleccionada-Carrera_"+idCarrera).val(''); //Para limpiar el ID de la materia seleccionada dentro de la carrera
                  $("#nombreMateriaSeleccionada-Carrera_"+idCarrera).val(''); //Para limpiar el nombre de la materia seleccionada dentro de la carrera
                  var divMostrarMaterias  = tablaMaterias.parent("div[id^='collapse']");//.attr("id");
                  //$("div[id^='collapse']").removeClass("in");
                  //divMostrarMaterias.addClass("in");
                 
                  $("div[id^='collapse']").removeClass("in");
                  setTimeout(function(){
                     divMostrarMaterias.collapse('show');
                  }, 10);
         
         
         
                  $("#panelInfoAdicional_headerlabel").html("");
                  $("#panelInfoAdicional .panel-body").children().hide();
                  $("#panelMaterias_1").show();
                  $("#panelMaterias_2").show();
                  $("#panelMaterias_3").show();
                  /*$("#menuGeneralDocente").show();
                  $("#infoCalendarioDocente").show();
                  $("#chartAsistencias").show();
                  $("#chartAsistencias").children().show();
                  $("#img_demo").show();*/
               }
               var modelessMaterias;
               
               $.ajax({
                  url:   jumpAction,
                  data: obj_data,
                  type:  'post',
                  async: false,
                  beforeSend: function () {
                     modelessMaterias = new $.flavr({
                                                   modal   : true,
                                                   content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                                                   buttons     : {}
                                                });

                     tablaMaterias.html("Cargando, espere por favor...");
                  },
                  error: function(){
                     modelessMaterias.close();
                     modelessMaterias = new $.flavr({
                                                   modal   : true,
                                                   content : 'Lo sentimos. Se  presentó un problema para cargar el listado de materias.',
                                                   buttons     : {
                                                      primary : { text: 'Aceptar', style: 'primary' }
                                                   }
                                                });
                     //var mensajeErrorNotas   = "Lo sentimos. Se  presentó un problema para cargar el listado de materias."
                     tablaMaterias.html("Se  presentó un problema para cargar el listado de materias.");
                     //lanzarModal('Listado de Materias',mensajeErrorNotas,'Aceptar');
                  },
                  success:  function (dataResponse) {
                   // sitioCargado(notificacionIndex);
                     modelessMaterias.close();
                     tablaMaterias.html(dataResponse);
                  },
                  dataType:'html'
               });
            }
         });
      });
	</script>
{% endblock %}