{% block listaNotasAlumnos %}
   <link rel="stylesheet" href="{{ asset('theme/plugins/datepicker/datepicker3.css') }}">
   <script src="{{ asset('theme/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
   <link rel="stylesheet" href="{{ asset('theme/plugins/daterangepicker/daterangepicker-bs3.css') }}">
   <script src="{{ asset('theme/plugins/daterangepicker/daterangepicker.js') }}"></script>
   
   <style type="text/css">
      #listadoAsistenciaMateria_filter {
        float:right;
      }
      
      .textoUpper {
         text-transform: uppercase;
      }
      
      #selectorFechasAsistencia {
         padding-top: 6px;
{#         position: absolute;#}
         border-bottom: 1px solid;
         margin-bottom: 10px;
         margin-left: auto;
         margin-right: auto;
         padding-bottom: 5px;
         padding-top: 12px;
         border-radius: 3px;
         border: 1px solid #337AB7;
         
      }
      
      #listadoAsistenciaMateria_filter input.form-control {
         margin-left: 10px;
      }
      
      #consultaAsistencia.btn {
         border-radius: 5px;
      }

      /* afecta al calendario*/
      .ui-widget-header {
         background: #337AB7 none repeat scroll 0 0;
         border: 1px solid #337ab7;
      }
      
      .ui-widget-header select{
            color: #000;
            font-weight: normal;
      }
      
      .ui-widget-content .ui-state-default {
         background: #337AB7 none repeat scroll 0 0;
      }
      
      .periodosAsistencia {
         padding-left: 0px;
         padding-right: 0px;
      }
   </style>
	<div class="col-lg-12">
		<div class="panel panel-primary" style="border-radius: 0px;">
		<div class="panel-heading" style="border-radius: 0px;">
         LISTADO DE ALUMNOS - <span id="nombreCarreraMostrar_{{dataMateria.idMateria}}"></span>
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<div class="table-responsive">
            
            <div id="selectorFechasAsistencia" class="col-lg-12">
               <div class="col-lg-12">
                  <div class="col-lg-3" style="padding-top: 5px;">Seleccionar Fechas:</div>
                  <div class="col-lg-2"><input id="fechasAsistenciasDesde" style="width: 96px;" class="input-sm" type="text" value="" /></div>
                  <div class="col-lg-1" style="padding-top: 5px;">hasta</div>
                  <div class="col-lg-2"><input id="fechasAsistenciasHasta" style="width: 96px;" class="input-sm" type="text" value="" /></div>
                  <div class="col-lg-2"><button id="consultaAsistencia" class="btn btn-primary" type="button">Consultar</button></div>
                  <div class="col-lg-2 periodosAsistencia">
                     <select id="periodosSelectAsistencia">
                        <option value="">Selec. Rango</option>
                        <option value="semanaActual">Semana Actual</option>
                        <option value="mesActual">Mes Actual</option>
                        <option value="mesActual">Ciclo Actual</option>
                     </select>
                  </div>
               </div>
            </div>                  
				<table id="listadoAsistenciaMateria" class="table table-striped table-bordered">
					<thead>
					  <tr>
						<th> Alumno </th>
                  {% for fechasAsist in dataMateria.fechasAsistencia %}
                  <th style="text-align:center;" class="no-sort"> {{ fechasAsist.diaNom|capitalize }}<br/>{{ fechasAsist.diaVal }}<br/>{#<button class="btn btn-info" type="button">Editar</button>#}</th>
                  {% endfor %}
						
					  </tr>
					</thead>
					<tbody>
					{% for dataAsist in dataMateria.datosAsistencia %}
					  <tr>
                  <td> <div style="float:left;">{{ dataAsist.apellidos|upper }} <br/> {{ dataAsist.nombres|capitalize }}</div><!-- <div style="float:right;"><a class="btn btn-primary btn-circle" href="/SisAcade<!-- mico/web/app_dev.php/home/materias/1/2" title="Notas del Semestre"><i class="fa fa-book"></i></a></div> --></td>
						{% for fechasAsistEstud in dataAsist.fechas %}
                     {% if fechasAsistEstud == 'V' %}
                        {% set classSignColor   = ' btn-success ' %}
                        {% set classSignAsist   = ' fa-check ' %}
                     {% else %}
                        {% set classSignColor   = ' btn-danger ' %}
                        {% set classSignAsist   = ' fa-times ' %}
                     {% endif %}
                  <td style="text-align:center;"> <button class="btn {{classSignColor}} btn-circle" type="button" style="cursor: default;"><i class="fa {{classSignAsist}}"></i></button> </td>
						{% endfor %}
					  </tr>
					{% endfor %}
					</tbody>
				  </table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
      
      <script type="text/javascript">
 {#        $('#listadoAsistenciaMateria').DataTable({
            "bPaginate": false,
            columnDefs: [
               { targets: 'no-sort', orderable: false }
            ]
         });#}
         $( "#fechasAsistenciasDesde" ).datepicker({ format: 'dd/mm/yyyy' });
         $( "#fechasAsistenciasDesde" ).val('{{dataMateria.fechaInicio}}');
         $( "#fechasAsistenciasDesde" ).datepicker('update');
         
         $( "#fechasAsistenciasHasta" ).datepicker({ format: 'dd/mm/yyyy' });
         $( "#fechasAsistenciasHasta" ).val('{{dataMateria.fechaFin}}');
         $( "#fechasAsistenciasHasta" ).datepicker('update');
         
         $(document).ready(function(){
            var carreraSeleccionada = $("#carreraSeleccionada").val();
            var nombreCarreraSelecc = $("#nombreMateriaSeleccionada-Carrera_"+carreraSeleccionada).val();
            $("#nombreCarreraMostrar_{{dataMateria.idMateria}}").html(nombreCarreraSelecc);
            
            $("#consultaAsistencia").on('click', function(){
               var idCarreraConsulta   = $("#carreraSeleccionada").val();
               var idMateriaConsulta   = $("#materiaSeleccionada-Carrera_"+idCarreraConsulta).val();
               var fechaInicio         = $("#fechasAsistenciasDesde").val();
               var fechaFin            = $("#fechasAsistenciasHasta").val();
               
               var obj_data            = {'idMateria':idMateriaConsulta,'idCarrera':idCarreraConsulta, 'fechaInicio':fechaInicio, 'fechaFin':fechaFin};
               var jumpOption          = '{{path('docentes_listado_alumnos_materia')}}';
               if(fechaInicio!='' && fechaFin!=''){
                  $.ajax({
                     url:  jumpOption,
                     type: 'post',
                     data: obj_data,
                     async: false,
                     beforeSend: function () {
                       //optionSelect.closest(".panel-body").html("Procesando, espere por favor...");
                     },
                     error: function(){
                        //console.log("hay un error");
                        var mensajeErrorNotas   = "Lo sentimos. Se  presentó un problema para cargar el listado de asistencias en el nuevo rango de fechas seleccionado."
                        lanzarModal('Listado de asistencias',mensajeErrorNotas,'Aceptar');//alert(mensajeErrorNotas);
                     },
                     success:  function (dataResponse) {
                       //console.log(optionSelect.closest(".panel-body"));
                       {#$("#materiaSeleccionada-Carrera_"+idCarrera).val(idMateria);
                       $("#nombreMateriaSeleccionada-Carrera_"+idCarrera).val(tituloPanelMateria);
                       optionSelect.closest(".panel-body").html(dataResponse);#}
                       $("#panelCarrera-"+idCarreraConsulta).html(dataResponse);
                     },
                     dataType:'html'
                  });
               }
               else {
                  var mensajeAdvertenciaNotas   = "Para poder hacer una consulta de asistencias, seleccione una fecha inicial y final.";
                  lanzarModal('Listado de asistencias',mensajeAdvertenciaNotas,'Aceptar');
               }
            });
         });
      </script>
	</div>
{% endblock %}