{% block listaNotasAlumnos %}
  <script type="text/javascript">
      var inicioCicloCarrera  = '{{dataMateria.inicioCiclo}}';
      var finCicloCarrera     = '{{dataMateria.finCiclo}}';
     // alert(inicioCicloCarrera);
      var inicioConsultaAsist;
      var finConsultaAsist;
      var delayTrigger  = 0;
            
      function getMonday(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6:1); // Ajusta el numero cuando es domingo
        return new Date(d.setDate(diff));
      }

      function formatDiaAsistencias(varDate) {
        var dayFormat;
        var mesFormat;
        var anioFormat;
        var fechaFormat;

        dayFormat = varDate.getDate() < 10 ? "0"+varDate.getDate() : varDate.getDate();
        mesFormat = varDate.getMonth()+1;
        mesFormat = mesFormat < 10 ? "0"+mesFormat : mesFormat;
        anioFormat = varDate.getFullYear();

        var fechaFormat = dayFormat+"/"+mesFormat+"/"+anioFormat;

        return fechaFormat;

      }
      
      /*fecha hoy - START*/
      var fechaHoy = formatDiaAsistencias( new Date() ); // Mon Nov 08 2010
      /*fecha hoy - END*/
   </script>
   <link rel="stylesheet" href="{{ asset('theme/plugins/datepicker/datepicker3.css') }}">
   <script src="{{ asset('theme/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
   <link rel="stylesheet" href="{{ asset('theme/plugins/daterangepicker/daterangepicker-bs3.css') }}">
   <script src="{{ asset('theme/plugins/daterangepicker/daterangepicker.js') }}"></script>
   
   <style type="text/css">
      #colAlumno {
         vertical-align: middle;
      }
      
      table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
         top: 17px;
      }
      #listadoAsistenciaMateria_filter {
        float:right;
      }
      
      .textoUpper {
         text-transform: uppercase;
      }
      
      #selectorFechasAsistencia {
         padding-top: 6px;
         border-bottom: 1px solid;
         margin-bottom: 10px;
         margin-left: auto;
         margin-right: auto;
         padding-bottom: 5px;
         padding-top: 12px;
         border-radius: 3px;
         border: 1px solid #337AB7;
         
      }
      
      #listadoAsistenciaMateria_filter input.form-control {
         margin-left: 10px;
      }
      
      #consultaAsistencia.btn {
         border-radius: 5px;
      }

      /* afecta al calendario*/
      .ui-widget-header {
         background: #337AB7 none repeat scroll 0 0;
         border: 1px solid #337ab7;
      }
      
      .ui-widget-header select{
            color: #000;
            font-weight: normal;
      }
      
      .ui-widget-content .ui-state-default {
         background: #337AB7 none repeat scroll 0 0;
      }
      
      .periodosAsistencia {
         padding-left: 0px;
         padding-right: 0px;
         margin-top: 5px
      }
      
      .periodosAsistencia i{
         float: left;
         margin-top: 5px;
         margin-right: 1px;
      }
      
      /*dataTables*/
      #listadoAsistenciaMateria_wrapper {
         width: 98%;
      }
      
      .botonesExport{
         text-align: right;
      }
   </style>
	<div class="col-lg-12">
		<div class="panel panel-primary" style="border-radius: 0px;">
		<div class="panel-heading" style="border-radius: 0px;">
                    LISTADO DE ALUMNOS - <span id="nombreCarreraMostrar_{{dataMateria.idMateria}}"></span>
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<div class="table-responsive">
            
            <div id="selectorFechasAsistencia" class="col-lg-12">
               <div class="col-xs-8">
                  <div class="col-xs-3" style="padding-top: 5px; display: block !important; text-align: center; width:22.5%;margin-left: -25px">Seleccionar Fechas:</div>
                  <div class="col-xs-2"><input id="fechasAsistenciasDesde" style="width: 96px;" class="input-sm" type="text" value="" /></div>
                  <div class="col-xs-1" style="padding-top: 5px;">hasta</div>
                  <div class="col-xs-2"><input id="fechasAsistenciasHasta" style="width: 96px;" class="input-sm" type="text" value="" /></div>
                  <div class="col-xs-2"><button id="consultaAsistencia" class="btn btn-primary" type="button">Consultar</button></div>
                  <i class="fa fa-fw fa-calendar col-xs-1" style="padding-top: 10px;"></i>
                     <div class="col-xs-2 periodosAsistencia">
                     <select id="periodosSelectAsistencia">
                        <option value="">Selec. Rango</option>
                        <option value="semanaActual">Semana Actual</option>
                        <option value="mesActual">Mes Actual</option>
                        <option value="cicloActual">Ciclo Actual</option>
                     </select>
                  </div>
               </div>
               <div class="col-lg-4 botonesExport"><a id="exportaAsistencias" class="btn btn-success" href="{{ path('docentes_asistencias_crear_xls',{ 'idCarrera':dataMateria.datosConsultaActual.idCarrera, 'idParalelo':dataMateria.datosConsultaActual.idParalelo, 'idMateria':dataMateria.datosConsultaActual.idMateria, 'idParalelo':'0','fechaInicio':dataMateria.datosConsultaActual.fechaInicio, 'fechaFin':dataMateria.datosConsultaActual.fechaFin}) }}" target="_blank"><i class="fa fa-fw fa-save"></i> Exportar Listado Actual</a></div>
            </div>
            {% if dataMateria.datosAsistencia is iterable %}
               {% set hayAlumnos = 1%}
				<table id="listadoAsistenciaMateria_{{dataMateria.idMateria}}" class="table table-striped table-bordered">
					<thead>
					  <tr>
						<th id="colAlumno"> Alumno </th>
                  {% for fechasAsist in dataMateria.fechasAsistencia %}
                  <th style="text-align:center;" class="no-sort"> {{ fechasAsist.diaNom|capitalize }}<br/>{{ fechasAsist.diaVal }}<br/>{#<button class="btn btn-info" type="button">Editar</button>#}</th>
                  {% endfor %}
						
					  </tr>
					</thead>
					<tbody>
					{% for dataAsist in dataMateria.datosAsistencia %}
					  <tr>
                  <td> <div style="float:left;">{{ dataAsist.apellidos|upper }} <br/> {{ dataAsist.nombres|upper }}</div><!-- <div style="float:right;"><a class="btn btn-primary btn-circle" href="/SisAcade<!-- mico/web/app_dev.php/home/materias/1/2" title="Notas del Semestre"><i class="fa fa-book"></i></a></div> --></td>
						{% for fechasAsistEstud in dataAsist.fechas %}
                     {% if fechasAsistEstud == 'V' %}
                        {% set classSignColor   = ' btn-success ' %}
                        {% set classSignAsist   = ' fa-check ' %}
                     {% else %}
                        {% set classSignColor   = ' btn-danger ' %}
                        {% set classSignAsist   = ' fa-times ' %}
                     {% endif %}
                  <td style="text-align:center;"> <button class="btn {{classSignColor}} btn-circle" type="button" style="cursor: default;"><i class="fa {{classSignAsist}}"></i></button> </td>
						{% endfor %}
					  </tr>
					{% endfor %}
					</tbody>
				  </table>
            {% else %}
               {% set hayAlumnos = 0 %}
               <div class="col-lg-12">
                  {% if dataMateria.estadoConsulta==2 %}
                     No hay asistencias para mostrar.
                  {% else %}
                     Se presentaron problemas para mostrar el listado de alumnos.
                  {% endif %}
                  
               </div>
            {% endif %}
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
      <script type="text/javascript">
         var modelessListadoAlumnos;
 {#        $('#listadoAsistenciaMateria').DataTable({
            "bPaginate": false,
            columnDefs: [
               { targets: 'no-sort', orderable: false }
            ]
         });#}
         $( "#fechasAsistenciasDesde" ).datepicker({ format: 'dd/mm/yyyy' });
         $( "#fechasAsistenciasDesde" ).val('{{dataMateria.fechaInicio}}');
         $( "#fechasAsistenciasDesde" ).datepicker('update');
         
         $( "#fechasAsistenciasHasta" ).datepicker({ format: 'dd/mm/yyyy' });
         $( "#fechasAsistenciasHasta" ).val('{{dataMateria.fechaFin}}');
         $( "#fechasAsistenciasHasta" ).datepicker('update');
         
         $("#periodosSelectAsistencia").on("change", function(){
            var opcionRango = $(this).val();
            if(opcionRango!=''){
              switch(opcionRango) {
                case 'semanaActual':
                    inicioConsultaAsist   = formatDiaAsistencias( getMonday(new Date()) );
                    finConsultaAsist      = fechaHoy;
                    delayTrigger          = 0;
                    break;
                case 'mesActual':
                    var date = new Date();
                    var inicioConsultaAsist = formatDiaAsistencias( new Date(date.getFullYear(), date.getMonth(), 1) );
                    var finConsultaAsist = formatDiaAsistencias( new Date(date.getFullYear(), date.getMonth() + 1, 0) );
                    delayTrigger          = 0;
                    break;
                case 'cicloActual':
                    var inicioConsultaAsist  = inicioCicloCarrera;
                    var finConsultaAsist     = finCicloCarrera;
                    delayTrigger             = 0;
                    break;
              }
              $( "#fechasAsistenciasDesde" ).val(inicioConsultaAsist);
              $( "#fechasAsistenciasDesde" ).datepicker('update');
              $( "#fechasAsistenciasHasta" ).val(finConsultaAsist);
              $( "#fechasAsistenciasHasta" ).datepicker('update');
              
              setTimeout(function(){ 
                 $("#consultaAsistencia").trigger('click');
              }, delayTrigger);
              
            }
         });

         $(document).ready(function(){
            
            {% if hayAlumnos == 0 %}
               $('#exportaAsistencias').on('click', function(event){
                  event.preventDefault();
                  var mensajeErrorAsistencia = "No se puede realizar la exportación del listado de asistencias."
                  modelessListadoAlumnos = new $.flavr({
                                                modal   : true,
                                                content : mensajeErrorAsistencia,
                                                buttons     : {
                                                   primary : { text: 'Aceptar', style: 'primary' }
                                                }
                                             });
               });
            {% endif %}      
            
            var carreraSeleccionada = $("#carreraSeleccionada").val();
            var nombreCarreraSelecc = $("#nombreMateriaSeleccionada-Carrera_"+carreraSeleccionada).val();
            $("#nombreCarreraMostrar_{{dataMateria.idMateria}}").html(nombreCarreraSelecc);
            
            $("#consultaAsistencia").on('click', function(){
               modelessListadoAlumnos = new $.flavr({
                                             modal   : true,
                                             content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                                             buttons : {}
                                          });
               var idCarreraConsulta   = $("#carreraSeleccionada").val();
               var idMateriaConsulta   = $("#materiaSeleccionada-Carrera_"+idCarreraConsulta).val();
               var fechaInicio         = $("#fechasAsistenciasDesde").val();
               var fechaFin            = $("#fechasAsistenciasHasta").val();
               
               var obj_data            = {'idMateria':idMateriaConsulta,'idCarrera':idCarreraConsulta, 'fechaInicio':fechaInicio, 'fechaFin':fechaFin, 'inicioCiclo':inicioCicloCarrera, 'finCiclo':finCicloCarrera};
               var jumpOption          = '{{path('docentes_listado_alumnos_materia')}}';
               if(fechaInicio!='' && fechaFin!=''){
                  $.ajax({
                     url:  jumpOption,
                     type: 'post',
                     data: obj_data,
                     async: false,
                     beforeSend: function () {
                       //optionSelect.closest(".panel-body").html("Procesando, espere por favor...");
                     },
                     error: function(){
                        var mensajeErrorAsistencia   = "Lo sentimos. Se  presentó un problema para cargar el listado de asistencias en el nuevo rango de fechas seleccionado."
                        modelessListadoAlumnos = new $.flavr({
                                                modal   : true,
                                                content : mensajeErrorAsistencia,
                                                buttons     : {
                                                   primary : { text: 'Aceptar', style: 'primary' }
                                                }
                                             });
                     },
                     success:  function (dataResponse) {
                       modelessListadoAlumnos.close();
                       $("#panelAsistenciasCarrera-"+idCarreraConsulta).html(dataResponse);
                     },
                     dataType:'html'
                  });
               }
               else {
                  var mensajeAdvertenciaNotas   = "Para poder hacer una consulta de asistencias, seleccione una fecha inicial y final.";
                  modelessListadoAlumnos = new $.flavr({
                                                modal   : true,
                                                content : mensajeAdvertenciaNotas,
                                                buttons     : {
                                                   primary : { text: 'Aceptar', style: 'primary' }
                                                }
                                             });
               }
            });
            
            var tableASistencias  = $('#listadoAsistenciaMateria_{{dataMateria.idMateria}}').DataTable({
                                       "paging": false,
                                       "lengthChange": false,
                                       "searching": true,
                                       "ordering": true,
                                       //"info": true,
                                       //"autoWidth": true,
                                       "sScrollX": '100%',
                                       columnDefs: [
                                          { targets: 'no-sort', orderable: false }
                                       ],
                                       "language": {
                                          "sProcessing":     "Procesando...",
                                          "sLengthMenu":     "Mostrar _MENU_ registros",
                                          "sZeroRecords":    "No se encontraron resultados",
                                          "sEmptyTable":     "Ningún dato disponible en esta tabla",
                                          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                                          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                                          "sInfoPostFix":    "",
                                          "sSearch":         "Buscar:",
                                          "sUrl":            "",
                                          "sInfoThousands":  ",",
                                          "sLoadingRecords": "Cargando...",
                                          "oPaginate": {
                                              "sFirst":    "Primero",
                                              "sLast":     "Último",
                                              "sNext":     "Siguiente",
                                              "sPrevious": "Anterior"
                                          },
                                          "oAria": {
                                              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                          }
                                      }
                                    });
         });
      </script>
	</div>
{% endblock %}