{% block home %}
   <script src="{{ asset('js/hichart/highcharts.js') }}"></script>
   <script src="{{ asset('js/hichart/modules/exporting.js') }}"></script>
   <style type="text/css">
      .headerGraf {
         text-align: center;
      }
   </style>
	<div class="col-lg-12">
		<div class="panel panel-primary" style="border-radius: 0px;">
		<div class="panel-heading" style="border-radius: 0px;">
			VISIÓN GENERAL - {{datosMateria.nombreMateriaTitulo}}
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
         <div class="col-lg-6" style="height: 440px;"><div id="headerAsistenciaCiclo" class="headerGraf">{#Porcentajes de Asistencia#}</div><div id="hc-bar-asistenciaCiclo"></div></div>
         <div class="col-lg-6" style="height: 440px;"><div id="headerAprobadosCiclo" class="headerGraf">{#Estudiantes aprobados (%)#}</div><div id="hc-donut-aprobadosResumen"></div></div>
         <div class="col-lg-6" style="height: 440px;"><div id="headerAsistenciaParcial1" class="headerGraf">{#Porcentajes de Asistencia#}</div><div id="hc-bar-asistenciaParcial1"></div></div>
         <div class="col-lg-6" style="height: 440px;"><div id="headerAsistenciaParcial" class="headerGraf"></div><div id="hc-donut-aprobadosDetalle"></div></div>
         
      </div>
		<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
  
   <script>
      $(function () {     
         //Chart de Asistencias - Ciclo completo - INICIO
         $('#hc-bar-asistenciaCiclo').highcharts({
             chart: {
                 type: 'column'
             },
             title: {
                 text: 'Porcentaje de asistencias - Ciclo Completo'
             },
             subtitle: {
                 text: '{% if datosAsistenciasGraph.todos is empty %} No existen datos para mostrar en esta gráfica{%endif%}'
             },
             xAxis: {
                 type: 'category'
             },
             yAxis: {
                 title: {
                     text: 'Cantidad de Estudiantes - Asistencias'
                 }

             },
             legend: {
                 enabled: false
             },
             plotOptions: {
                 series: {
                     borderWidth: 0,
                     dataLabels: {
                         enabled: true,
                         format: '{point.y:.0f}'
                     }
                 }
             },
             tooltip: {
                 headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                 pointFormat: '<br><span style="color:{point.color}">Rango de {point.name}</span>: <b>{point.y:.0f}</b><br/>'
             },

             series: [{
               name: 'Estudiantes',
               colorByPoint: true,
               data: [{% if datosAsistenciasGraph.todos is not empty %} {{datosAsistenciasGraph.todos|raw}} {%endif%}]
             }]
         });
         //Chart de Asistencias - Ciclo completo - FIN
         
         
         //Chart de Asistencias - Parcial 1 - INICIO
         $('#hc-bar-asistenciaParcial1').highcharts({
             chart: {
                 type: 'column'
             },
             title: {
                 text: 'Porcentaje de asistencias - Parcial 1'
             },
             subtitle: {
                 text: '{% if datosAsistenciasGraph.PARCIAL_1 is empty %} No existen datos para mostrar en esta gráfica{%endif%}'
             },
             xAxis: {
                 type: 'category'
             },
             yAxis: {
                 title: {
                     text: 'Cantidad de Estudiantes - Asistencias'
                 }

             },
             legend: {
                 enabled: false
             },
             plotOptions: {
                 series: {
                     borderWidth: 0,
                     dataLabels: {
                         enabled: true,
                         format: '{point.y:.0f}'
                     }
                 }
             },
             tooltip: {
                 headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                 pointFormat: '<br><span style="color:{point.color}">Rango de {point.name}</span>: <b>{point.y:.0f}%</b><br/>'
             },

             series: [{
               name: 'Estudiantes',
               colorByPoint: true,
               data: [{% if datosAsistenciasGraph.PARCIAL_1 is not empty %} {{datosAsistenciasGraph.PARCIAL_1|raw}} {%endif%}]
             }]
         });
         //Chart de Asistencias - Ciclo completo - FIN
         
         
         //Chart de Aprobados - Ciclo completo - INICIO
         $(function () {
            $('#hc-donut-aprobadosResumen').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Estudiantes Aprobados - Ciclo Actual'
                },
                subtitle: {
                  text: '{% if datosNotasResumenGraph.todos is empty %} No existen datos para mostrar en esta gráfica{%endif%}'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{series.y}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Estudiantes',
                    colorByPoint: true,
                    data: [{% if datosNotasResumenGraph.todos is not empty %} {{datosNotasResumenGraph.todos|raw}} {%endif%}]
                }]
            });
        });
        //Chart de Aprobados - Ciclo completo - FIN
        
        
        //Chart de Notas - Ciclo completo - INICIO
         $(function () {
            $('#hc-donut-aprobadosDetalle').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Notas de Estudiantes (%)  - Ciclo Actual'
                },
                subtitle: {
                  text: '{% if datosNotasDetalleGraph.todos is empty %} No existen datos para mostrar en esta gráfica{%endif%}'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>Notas entre {point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Porcentaje',
                    colorByPoint: true,
                    data: [{% if datosNotasDetalleGraph.todos is not empty %} {{datosNotasDetalleGraph.todos|raw}} {%endif%}]
                }]
            });
        });
        //Chart de Aprobados - Ciclo completo - FIN
        
         

     });
   </script>
   
{% endblock %}