{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig'%}
{% block home %}
   {% set dataForm_error   = 'false' %}
   
   {% if dataUsuario is not iterable %}
      {% set dataForm_error   = 'true' %}
   {% endif %}
   
   {% if datosTiposSangre is not iterable %}
      {% set dataForm_error   = 'true' %}
   {% endif %}
   
   {% if datosGeneros is not iterable %}
      {% set dataForm_error   = 'true' %}
   {% endif %}
   
   {% if datosEstadosCiviles is not iterable %}
      {% set dataForm_error   = 'true' %}
   {% endif %}
   
   {% if datosNacionalidades is not iterable %}
      {% set dataForm_error   = 'true' %}
   {% endif %}
   
   {% if datosPaises is not iterable %}
      {% set dataForm_error   = 'true' %}
   {% endif %}
   <style>
      #commentForm {
         width: 500px;
      }
      #commentForm label {
         width: 250px;
      }
      #commentForm label.error, #commentForm input.submit {
         margin-left: 253px;
      }
      #signupForm {
         width: 670px;
      }
      #signupForm label.error {
         margin-left: 10px;
         width: auto;
         display: inline;
      }
      #newsletter_topics label.error {
         display: none;
         margin-left: 103px;
      }
      
      #previewImg {
         display: none;
         float: left;
         margin-left: 24px;
         margin-top: 8px;
      }
      
      #imagen_perfil_prev {
          height: 175px;
          width: 140px;
      }
      
      .col-lg-3 {
         display: none !important;
      }

      .col-lg-9 {
         width: 100% !important;
      }

      .content-header {
         padding: 15px 0 15px 0;
         position: relative;
      }
      
      .data-edit {
         margin-left: -6px;
         margin-right: -6px;
      }
      
      .cel-data-edit {
         padding-top: 7px;
      }
      
      .item-edit-usuario {
         background-color: #fff;
         border-bottom: 1px solid #ddd;
         border-top: 1px solid #ddd;
         display: block;
         margin-bottom: -1px;
         padding: 10px 15px;
         position: relative;
      }
      
      .mensajeError {
         padding-top: 10px;
         padding-bottom: 10px;
      }
      
      .mensajeExito {
         padding-top: 10px;
         padding-bottom: 10px;
      }
      
      .fileUpload {
         float: left;
         position: relative;
         overflow: hidden;
         {#margin: 10px;#}
      }
      .fileUpload input.upload {
         position: absolute;
         top: 0;
         right: 0;
         margin: 0;
         padding: 0;
         font-size: 20px;
         cursor: pointer;
         opacity: 0;
         filter: alpha(opacity=0);
      }
      
      a#explicacionFoto {
         color: #003366;
      }
      
      .errorSelect {
         color: red;
         font-style: italic;
         display: none;
      }
   </style>
   <script type="text/javascript">
      var modelessPerfilEditar = new $.flavr({
                                       modal   : true,
                                       content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                                       buttons     : {}
                                    });
   </script>
   <link rel="stylesheet" href="{{ asset('js/jqueryValidate/demo/css/screen.css') }}">
   <script src="{{ asset('js/jqueryValidate/dist/jquery.validate.min.js') }}"></script>
   <script src="{{ asset('js/jqueryValidate/dist/additional-methods.js') }}"></script>
   <script>
      $.validator.addMethod(
         "EcuadorDate",
         function(value, element) {
             return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/);
         },
         "Por favor ingrese una fecha en el formato dd/mm/yyyy."
      );
      $(document).ready(function(){
         jQuery.extend(jQuery.validator.messages, {
            email: "Por favor ingrese una dirección de correo válida.",

         });
        
         $("#formEditarPerfil").validate({
            rules: {
               fecha_nacimiento: { required: true, EcuadorDate : true },
               direccion: "required",
               telefono: { required: true, number: true },
               correo_personal: { required: true, email: true },
               correo_institucional: { required: true, email: true }
            },
            messages: {
               fecha_nacimiento: { required:"Por favor ingrese una fecha de nacimiento" },
               direccion: {required:"Por favor ingrese una direción."},
               telefono: {required:"Ingrese un numero de telefono válido", number: 'Debe ingresar un número'},
               correo_personal: { required: "Por favor ingrese una dirección de correo valida." },
               correo_institucional: { required: "Por favor ingrese una dirección de correo valida." },
               email: "Por favor ingrese una dirección de correo valida."
            }
         });
      });
   </script>                                          
   
   <link type="text/css" rel="stylesheet" href="{{ asset('theme/plugins/datatables/dataTables.bootstrap.css') }}">
   
   <script type="text/javascript">
      $(document).ready(function(){
         {% if dataForm_error == 'false' %}
         var imageLoader = document.getElementById('imagen_perfil');
         imageLoader.addEventListener('change', handleImage, false);

         var canvas = document.getElementById('imagen_perfil_prev');
         var ctx = canvas.getContext('2d');
         
         $("#tipo_sangre").val('{{dataUsuario.idtiposangre}}');
         $("#sexo").val('{{dataUsuario.idsexo}}');
         $("#estado_civil").val('{{dataUsuario.idestadocivil}}');
         $("#nacionalidad").val('{{dataUsuario.idnacionalidad}}');
         $("#pais").val('{{dataUsuario.idpais}}');
         
         $("select.selectPerfil").on('change', function(){
           if($(this).val()!=null) {
             var idSelectSinError= $(this).attr("id");
             $("#"+idSelectSinError+"-errorSel").hide();
           }
         });
         {% endif %}
         modelessPerfilEditar.close();

         function handleImage(e){
            var reader = new FileReader();
            reader.onload = function(event){
                var img = new Image();
                img.onload = function(){
                     //canvas.width = img.width;
                     //canvas.height = img.height;
                     //ctx.drawImage(img,0,0);
                     canvas.width = 140;
                     canvas.height = 175;
                     ctx.drawImage(img,0,0, 140, 175);
                }
                img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
            $("#previewImg").fadeIn();
            
         }         
      });

   </script>
   
   <link rel="stylesheet" href="{{ asset('theme/plugins/datepicker/datepicker3.css') }}">
   <script src="{{ asset('theme/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
   <link rel="stylesheet" href="{{ asset('theme/plugins/daterangepicker/daterangepicker-bs3.css') }}">
   <script src="{{ asset('theme/plugins/daterangepicker/daterangepicker.js') }}"></script>
   
   <div class="col-lg-12">
      <section class="content-header" style="text-align: center">
      
      <h1> Perfil del Usuario </h1>
      </section>
      
      
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <div class="row">
            <!-- Profile Image -->
            <div class="box box-primary">
               <div class="box-body box-profile">
                  {% if dataForm_error == 'true' %}
                  <div class="col-md-12">
                     Se presentaron problemas para cargar la información de su perfil.
                  </div>
                  {% else %}
                     {% if(dataUsuario.existefotoperfil == 1) %}
                        {% set fotoPerfil = dataUsuario.directoriofoto %}
                     {% else %}
                        {% set fotoPerfil = 'images/avatar/user.png' %}
                     {% endif %}
                  <form id="formEditarPerfil" name="formEditarPerfil">
                     <img class="profile-user-img img-responsive img-circle" src="{{ asset(''~ fotoPerfil ~'')}}" alt="Foto de Perfil">
                     <h3 class="profile-username text-center">{{dataUsuario.nombres}} <br/>{{dataUsuario.apellidos}}</h3>
                     <p class="text-muted text-center">C.I.: {{dataUsuario.usuario}}</p>
                     <div class="box-header with-border">
                        <h3 class="box-title">Foto de Perfil</h3>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-4 cel-data-edit">
                           <b><i class="fa fa-camera margin-r-5"></i> Nueva Foto del Perfil</b> <a id="explicacionFoto" href="" class="tip btn-circle"><span>Fotos tamaño <b>Carnet</b> con extensión <b>jpg</b> o <b>png</b></span><i class="fa fa-question-circle" style="font-size: 19px; margin-left: 20px;"></i></a>
                        </div>
                        <div class="col-xs-8">
                           <div id="espacioInputFile" class="fileUpload btn btn-primary">
                              <span>Seleccionar Foto</span>
                              <input id="imagen_perfil" name="imagen_perfil" type="file" placeholder="Foto" class="pull-right form-control upload" style="padding: 0 7px;" accept="image/jpg,image/png,image/jpeg,image/gif" />
                           </div>
                           <div id="previewImg">
                                 <div>Vista Preliminar:</div>
                                 <canvas id="imagen_perfil_prev"></canvas>
                           </div>
                        </div>
                     </div>
                     <div class="box-header with-border">
                        <h3 class="box-title">Información Básica</h3>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-9 cel-data-edit">
                           <b><i class="fa fa-birthday-cake margin-r-5"></i> Fecha de Nacimiento</b>
                        </div>
                        <div class="col-xs-3">
                           <input id="fecha_nacimiento" name="fecha_nacimiento" type="text" value="{{dataUsuario.fecha_nacimiento}}" class="pull-right form-control" />
                        </div>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-9 cel-data-edit">
                           <b><i class="fa fa-heart margin-r-5"></i> Tipo de Sangre</b>
                        </div>
                        <div class="col-xs-3">
                           <select id="tipo_sangre" name="tipo_sangre" class="pull-right form-control selectPerfil">
                              {% for dataSangre in datosTiposSangre %}
                              <option value="{{dataSangre.codigo}}">{{dataSangre.nombre}}</option>
                              {% endfor %}
                           </select><label id="tipo_sangre-errorSel" class="errorSelect" for="tipo_sangre">Por favor seleccione una opción.</label>
                        </div>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-9 cel-data-edit">
                           <b><i class="fa fa-male margin-r-5"></i> Sexo</b>
                        </div>
                        <div class="col-xs-3">
                           <select id="sexo" name="sexo" class="pull-right form-control selectPerfil">
                              {% for dataGenero in datosGeneros %}
                              <option value="{{dataGenero.codigo}}">{{dataGenero.nombre|capitalize}}</option>
                              {% endfor %}
                           </select><label id="sexo-errorSel" class="errorSelect" for="sexo">Por favor seleccione una opción.</label>
                        </div>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-9 cel-data-edit">
                           <b><i class="fa fa-diamond margin-r-5"></i> Estado Civil</b>
                        </div>
                        <div class="col-xs-3">
                           <select id="estado_civil" name="estado_civil" class="pull-right form-control selectPerfil">
                              {% for dataCivil in datosEstadosCiviles %}
                              <option value="{{dataCivil.codigo}}">{{dataCivil.nombre|capitalize}}</option>
                              {% endfor %}
                           </select><label id="estado_civil-errorSel" class="error errorSelect" for="estado_civil">Por favor seleccione una opción.</label>
                        </div>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-9 cel-data-edit">
                           <b><i class="fa fa-map-marker margin-r-5"></i> Nacionalidad</b>
                        </div>
                        <div class="col-xs-3">
                           <select id="nacionalidad" name="nacionalidad" class="pull-right form-control selectPerfil">
                              {% for dataNacionalidad in datosNacionalidades %}
                              <option value="{{dataNacionalidad.codigo}}">{{dataNacionalidad.nombre|capitalize}}</option>
                              {% endfor %}
                           </select><label id="nacionalidad-errorSel" class="errorSelect" for="nacionalidad">Por favor seleccione una opción.</label>
                        </div>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-9 cel-data-edit">
                           <b><i class="fa fa-map-marker margin-r-5"></i> Pais</b>
                        </div>
                        <div class="col-xs-3">
                           <select id="pais" name="pais" class="pull-right form-control selectPerfil">
                              {% for dataPais in datosPaises %}
                              <option value="{{dataPais.codigo}}">{{dataPais.nombre|capitalize}}</option>
                              {% endfor %}
                           </select><label id="pais-errorSel" class="errorSelect" for="pais">Por favor seleccione una opción.</label>
                        </div>
                     </div>

                     <div class="box-header with-border">
                        <h3 class="box-title">Información de los Medios de Contacto</h3>
                     </div>

                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-7 cel-data-edit">
                           <b><i class="fa fa-map margin-r-5"></i> Dirección</b>
                        </div>
                        <div class="col-xs-5">
                           <input id="direccion" name="direccion" type="text" value="{{dataUsuario.direccion|capitalize}}" class="pull-right form-control" />
                        </div>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-7 cel-data-edit">
                           <b><i class="fa fa-phone margin-r-5"></i> Teléfono</b>
                        </div>
                        <div class="col-xs-5">
                           <input id="telefono" name="telefono" type="text" value="{{dataUsuario.telefono}}" class="pull-right form-control" maxlength="10" />
                        </div>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-7 cel-data-edit">
                           <b><i class="fa fa-envelope margin-r-5"></i> Correo Personal</b>
                        </div>
                        <div class="col-xs-5">
                           <input id="correo_personal" name="correo_personal" type="text" value="{{dataUsuario.correo_personal}}" class="pull-right form-control" />
                        </div>
                     </div>
                     <div class="row item-edit-usuario data-edit">
                        <div class="col-xs-7 cel-data-edit">
                           <b><i class="fa fa-envelope margin-r-5"></i> Correo Institucional</b>
                        </div>
                        <div class="col-xs-5">
                           <input id="correo_institucional" name="correo_institucional" type="text" value="{{dataUsuario.correo_institucional}}" class="pull-right form-control" />
                        </div>
                     </div>
                     <button id="grabarDataPerfil" name="grabarDataPerfil" class="btn btn-primary btn-block"><b>Actualizar la información del perfil</b></button>
                  </form>
                  {% endif %}
              </div><!-- /.box-body -->
            </div><!-- /.box -->

         </div><!-- /.col -->
      </div>
	</div>
	<!-- /.col-lg-9 -->
   <script type="text/javascript">
      var modelessGrabarPerfil;
      
      $("#explicacionFoto").on('click', function(event){
         event.preventDefault();
      });
      
      $( "#fecha_nacimiento" ).datepicker({ format: 'dd/mm/yyyy' });
      $( "#fecha_nacimiento" ).datepicker('update');

      $("#grabarDataPerfil").on('click', function(event){
         event.preventDefault();
         var errorSelects = false;
         var validForm  = $("#formEditarPerfil").valid();
         $("select.selectPerfil").each(function(){
            if( $(this).val()==null){
               errorSelects = true;
               var idSelectError= $(this).attr("id");
               $("#"+idSelectError+"-errorSel").show();
            }
         });
         if(validForm==true && errorSelects==false) {
            var objectEditPerfil = $("#formEditarPerfil").serializeArray();
            var Pic;
            if ($('#previewImg').css('display') != 'none') {
               //var Pic = document.getElementById("imagen_perfil_prev").toDataURL("image/png");
               var Pic = document.getElementById("imagen_perfil_prev").toDataURL();
               //Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "");
               var obj_data            = {'dataPerfil':objectEditPerfil, 'imagenPerfil':Pic};
            }
            else {
               var obj_data            = {'dataPerfil':objectEditPerfil};
            }
            //console.log(obj_data);
            var jumpOption          = '{{path('titulacion_usuario_editar_perfil_grabarFormActualiza')}}';

            $.ajax({
               url:  jumpOption,
               type: 'post',
               data: obj_data,
               async: false,
               beforeSend: function () {
                 $("#grabarDataPerfil").html("<i class=\"fa fa-refresh fa-spin\"></i> &nbsp;<b>Actualizando la información del perfil</b>");
               },
               error: function(){
                  $("#grabarDataPerfil").html("<b>Actualizar la información del perfil</b>");
                  modelessGrabarPerfil = new $.flavr({
                     modal   : true,
                     content : '<div class="mensajeError">Lo sentimos. Se  presentó un problema para grabar la información de su perfil.</div>',
                     buttons : {
                           primary : { text: 'Aceptar', style: 'primary' }
                     }
                  });
               },
               success:  function (dataResponse) {
                  var mensajeResultado = '';
                  if(dataResponse.idMensaje==='1') {
                     mensajeResultado = 'Su información de perfil se actualizó correctamente.';
                     if(dataResponse.imagenGrabada === 0 || dataResponse.imagenGrabada === -1) {
                        mensajeResultado += "<br><br><b>Atención:<b> Se presentaron problemas para actualizar su foto de perfil.";
                     }
                  }
                  else {
                     mensajeResultado = 'Se presentaron problemas para actualizar su información';
                  }
                  $("#grabarDataPerfil").html("<b>Actualizar la información del perfil</b>");
                  modelessGrabarPerfil = new $.flavr({
                     modal   : true,
                     content : '<div class="mensajeExito">'+mensajeResultado+'</div>',
                     buttons : {
                           primary : { text: 'Aceptar', style: 'primary' }
                     }
                  });

                  if(dataResponse.imagenGrabada == 1) {
                     location.reload();
                  }
               },
               dataType:'json'
            });
         }
      });
   </script>
{% endblock %}