<link type="text/css" rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/styles/animate.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/styles/all.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/flavr/flavr.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/growl/jquery.growl.css') }}" >

<link rel="stylesheet" href="{{ asset('js/lib/iOS-Overlay/css/iosOverlay.css') }}">
<link rel="stylesheet" href="{{ asset('js/lib/iOS-Overlay/css/prettify.css') }}">
<link rel="icon" type="image/x-icon" href="{{ asset('images/menu/ug_logo.png') }}" />

<script src="{{ asset('js/script/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('js/flavr/flavr.js') }}"></script>
<script src="{{ asset('js/flavr/flavr.min.js') }}"></script>
<script src="{{ asset('js/growl/jquery.growl.js') }}"></script>
<script src="{{ asset('js/mensajes.js') }}"></script>

<script src="{{ asset('js/lib/iOS-Overlay/js/iosOverlay.js') }}"></script>
<script src="{{ asset('js/lib/iOS-Overlay/js/modernizr-2.0.6.min.js') }}"></script>
<script src="{{ asset('js/lib/jquery-spin/spin.min.js') }}"></script>
<script src="{{ asset('js/sistemau.functions.js') }}"></script>


<style type="text/css">

.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar{background: #fff !important;}
.flavr-container .flavr-fixer .flavr-outer .flavr-content {
  border-top: 5px solid #005595 !important;
  background: #fff !important;
  color: #000 !important;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input { 
  border: 1.5px solid #d2d6de !important; 
  background: #FAFFBD !important;
}
.flavr-container .flavr-overlay {background: #d2d6de !important;}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar.inline .flavr-button { font-weight: bold; }
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.danger { background-color: #F44A56; }
.growl.growl-default { background: #2ECC71 !important; }

</style>
<script type="text/javascript">

  $(document).ready(function(){
    setTimeout('login();',1000);
  });

var btn_login = 0;

function recordar_pass () {
    $("#password").hide();
    $("#iniciar").show();
    $("#recordar_link").hide();
    $("#btn_iniciar").hide();
    $("#enviar_mail").show();
}

function iniciar_sesion () {
  $("#password").show();
  $("#btn_iniciar").show();
  $("#iniciar").hide();
  $("#enviar_mail").hide();
  $("#recordar_link").show();
}

function enviar_mail (user) {
var modelessEnvioCorreo;
modelessEnvioCorreo = new $.flavr({
                              modal   : true,
                              content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                              buttons     : {}
                              });

$("#username").val($.trim($("#username").val()));

if($("#username").val() == '')
{
  modelessEnvioCorreo.close();
   mensaje_cisc( "error", "Debe ingresar el usuario.");
}else{


 $.post('{{path('titulacion_sis_academico_mail')}}', {user: user}, function(data) {

modelessEnvioCorreo.close();

    switch(data){

      case '1' :  mensaje_cisc( "notice", "Su nueva contraseña ha sido enviada al correo electrónico."); break;
      case '2' :   mensaje_cisc( "error", "No tiene posee correos registrados."); break;
      default :   mensaje_cisc( "error", "Problemas de conexión al enviar correo electrónico."); break;
      
    }
 });

  }

}

function enterB(event){var x =event.keyCode;if(x == 13)$('#btn_iniciar').click();}
function enterT(event){var x =event.keyCode;if(x == 13)$('#password').focus();}

function login(){

    btn_login = btn_login +1*1;
    if (btn_login == 1) {


     $('.login-are').removeAttr('click');
    var html =
        '   <div class="form-row">' +
        '       <input id="username" type="text" name="username" onkeydown="enterT(event)" maxlength="10"' +
        '       placeholder="Username"  required /> <p class="help-block"></p>' +
        '   </div>' +
        '   <div class="form-row">' +
        '       <input id="password" type="password" onkeydown="enterB(event)" name="password" ' +
        '       placeholder="Password" required /> <p class="help-block"></p>' +
        '   </div>' +
        '   <div class="form-row">' +
        '   <div class="form-row">' +
        '   </div>';

    new $.flavr({
        title       : 'Ingresar',
        iconPath    : '{{ asset('images/menu/')}}',
        icon        : 'ug_logo.png',
        content     : 'Academic Relation Student',
        dialog      : 'form',
        form        : {  content: html, method: 'get'},
        buttons : {
        submit  : { text: 'Iniciar', style: 'primary', addClass: 'submit-btn', id: 'btn_iniciar',
                    action: function( $container, $second, $third ){
                      if ($("#username").val() == '' || $("#password").val() == '') {
                          mensaje_cisc( "error", "Ingrese el usuario y el password.");
                          this.wobble();
                      }else{

                        var modelessLogin;
                        $.ajax({
                            url:   '{{path('titulacion_sis_academico_ingresar')}}',
                            data: {'user': $("#username").val(),'pass':$("#password").val()},

                            type:  'post',
                            beforeSend: function () {
                              modelessLogin = new $.flavr({
                              modal   : true,
                              content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                              buttons     : {}
                              });
                            },
                            error:function(){
                              modelessLogin.close();
                              btn_login = 0;
                              mensaje_cisc( "error", "En estos momentos tenemos problemas con los servidores, lamentamos los inconvenientes");
                             },
                            success:  function (dataResponse) {
                              modelessLogin.close();
                              var perfil = JSON.parse(dataResponse).Perfil;
                              var nombreUsuario = JSON.parse(dataResponse).NombreUsuario;
                              //alert('{{perfilEstDoc}}');
                                  switch (perfil.toString()) {

                                        case '{{perfilEst}}':
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('estudiantes_notas_actuales')}}';
                                            break;
                                        case '{{perfilDoc}}':
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('SisAcademico_Docentes_home')}}';
                                            break;
                                        case '{{perfilAdmin}}':
                                            // mensaje_cisc( "error", "Perfil NO habilitado");
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('admin_anulacion')}}';
                                            break;
                                        case '{{perfilEstDoc}}':
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('estudiantes_notas_actuales')}}';
                                            break;
                                        case '{{perfilEstAdm}}':
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('estudiantes_notas_actuales')}}';
                                            break;
                                        case '{{perfilDocAdm}}':
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('SisAcademico_Docentes_home')}}';
                                            break;
                                        case '{{perfilCordi}}':
                                            // mensaje_cisc( "error", "Perfil NO habilitado");
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('admin_academico_home')}}';
                                            break;
                                        case '{{perfilEstCordi}}':
                                            // mensaje_cisc( "error", "Perfil NO habilitado");
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('admin_academico_home')}}';
                                            break;
                                        case '{{perfilDocCordi}}':
                                            // mensaje_cisc( "error", "Perfil NO habilitado");
                                            $.growl({ title: "Bienvenido!", message: nombreUsuario });
                                            location.href = '{{path('admin_academico_home')}}';
                                            break;
                                        default:
                                            mensaje_cisc( "error", "Usuario o constraseña incorrecto/a.");
                                            break;
                                    }//end switch

                             },
                             dataType:'html'
                          });
                      }

                        return false;
                    }
        }
        ,
        danger: { text: 'Olvide mi clave',id:'recordar_link', style: 'danger', action: function(){ this.swing(); recordar_pass(); return false }},
        retornar      : { text: 'Regresar', id:'iniciar', style: 'primary',animateClosing: 'rollOut', action: function(){ iniciar_sesion(); return false }},
        Recuperar: { text: 'Enviar Mail',id:'enviar_mail', style: 'info',  action: function(){ this.swing(); enviar_mail($("#username").val()); return false }},
    }

    });
    }
    $("#iniciar").hide();
    $("#enviar_mail").hide();
  }



  </script>