<aside class="main-sidebar">
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU DE NAVEGACION</li>
      <li class="treeview">
        <a href="{{path('SisAcademico_Docentes_home')}}">
          <i class="fa fa-laptop"></i><span>Docente</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{path('SisAcademico_Docentes_home')}}"><i class="fa fa-circle-o"></i> Datos Generales</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Asistencia de Alumnos</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Ingreso de Notas</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Vista por Asignatura</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Estudiantes</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{path('estudiantes_matriculacion')}}"><i class="fa fa-circle-o"></i> Matriculación</a></li>
          <li><a href="{{path('estudiantes_deudas')}}"><i class="fa fa-circle-o"></i> Deudas Pendientes</a></li>
          <li><a href="{{path('estudiantes_notas_actuales')}}"><i class="fa fa-circle-o"></i> Consulta de Notas</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>