<style type="text/css">
  .dropdown-menu { border: 1px solid #3C8DBC !important; }
</style>

<header class="main-header">
  <!-- Logo -->
  <a href="{#{path('admin_academico_home')}#}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>ARES</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Academic Relation Student</b> </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">       
          <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
          <a href="{{ path('admin_academico_cargar_eventos_user') }}" >
            <i class="fa fa-calendar"></i>
          </a>
          <ul class="dropdown-menu">
            <li>

            </li>
          </ul>
        </li>
        
        {% set fotoPerfil = app.session.get('img_perfil') %}
        {% if fotoPerfil|length == 0 %}
           {% set fotoPerfil = 'images/avatar/user.png' %}
        {% endif %}
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">

            <img src="{{ asset(''~fotoPerfil~'')}}" class="user-image" alt="User Image">
            <span class="hidden-xs" style="text-transform: capitalize !important;">{{app.session.get('nom_usuario')}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{ asset(''~fotoPerfil~'')}}" class="img-circle" alt="User Image">

              <p>{{app.session.get('nom_usuario')}}
              <small>{{app.session.get('cedula')}}</small>
                {% if app.session.get('descRol') is not empty %}-   {{app.session.get('descRol')}}   -{% endif %}

              </p>
            </li>
            <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-12 text-center">
                      <a href="{{path('admin_academico_cambio_pass_int')}}">Cambio Contraseña</a>
                    </div>
                  </li>
            <!-- Menu Footer-->
            <li class="user-footer">
               <div  id="editarPerfil" id="editarPerfil" class="pull-left" >
                <a href="{{path('titulacion_usuario_editar_perfil')}}" class="btn btn-default btn-flat">Editar Perfil</a>
               </div>
               <div class="pull-right">
                  <a href="{{path('titulacion_sis_academico_logout')}}" class="btn btn-default btn-flat">Salir</a>
               </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        {% if app.session.get('perfil') == perfilEst or app.session.get('perfil') == perfilEstDoc or app.session.get('perfil') == perfilEstAdm %}
        <li>
          <a href="{{path('estudiantes_notas_actuales')}}"><i class="fa fa-child"></i></a>
        </li>
         {% endif %}
         {% if app.session.get('perfil') == perfilDoc or app.session.get('perfil') == perfilDocAdm %}
        <li>
          <a href="{{path('SisAcademico_Docentes_home')}}"><i class="fa fa-user-plus"></i></a>
        </li>
        {% endif %}
        {% if app.session.get('perfil') == perfilAdmin or app.session.get('perfil') == perfilEstAdm or app.session.get('perfil') == perfilDocAdm %}
        <li>
          <a href="{{path('admin_accesos_secretaria')}}"><i class="fa fa-pencil-square-o"></i></a>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>
</header>