<aside class="main-sidebar">
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU DE NAVEGACION</li>
      {% if app.session.get('perfil') == perfilDoc or app.session.get('perfil') == perfilEstDoc or app.session.get('perfil') == perfilDocAdm %}
      <li class="treeview">
        <a href="{{path('SisAcademico_Docentes_home')}}">
          <i class="fa fa-laptop"></i><span>Docente</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{path('SisAcademico_Docentes_home')}}"><i class="fa fa-circle-o"></i> Datos Generales</a></li>
          <li><a id="menuizqDoc_asistencia" href="#"><i class="fa fa-circle-o"></i> Asistencia de Alumnos</a></li>
          <li><a id="menuizqDoc_listadonotas" href="#"><i class="fa fa-circle-o"></i> Listado de Notas</a></li>
          <li><a id="menuizqDoc_vistageneral" href="#"><i class="fa fa-circle-o"></i> Vista por Asignatura</a></li>
        </ul>
      </li>
      {% endif %}
      {% if app.session.get('perfil') == perfilEst or app.session.get('perfil') == perfilEstDoc or app.session.get('perfil') == perfilEstAdm %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Estudiantes</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{path('estudiantes_matriculacion')}}"><i class="fa fa-circle-o"></i> Matriculación</a></li>
          <li><a href="{{path('estudiantes_deudas')}}"><i class="fa fa-circle-o"></i> Deudas Pendientes</a></li>
          <li><a href="{{path('estudiantes_notas_actuales')}}"><i class="fa fa-circle-o"></i> Consulta de Notas</a></li>
        </ul>
      </li>      
      {% endif %}     
      {% if app.session.get('perfil') == perfilEstAdm or app.session.get('perfil') == perfilDocAdm %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Administración</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{path('admin_academico_home')}}"><i class="fa fa-circle-o"></i> Calendario por Carrera </a></li>

        </ul>
      </li>
      {% endif %}
     {#  {% if app.session.get('perfil') == perfilDoc or app.session.get('perfil') == perfilDocAdm %}#}
        <li class="treeview">
        <a href="{{path('SisAcademico_Docentes_home')}}">
          <i class="fa fa-comments-o"></i><span>Mensajes</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{path('dayscript_index')}}"><i class="fa fa-circle-o"></i> Envio de Mensajes</a></li>
          <li><a href="{{ path('dayscript_configuracion') }}"><i class="fa fa-circle-o"></i> Configuracion Mensajes</a></li>         
        </ul>
      </li>
     {# {% endif %}#}
    </ul>
  </section>
</aside>

<script type="text/javascript">
   $('a[id^="menuizqDoc_"]').on('click', function(event){
      event.preventDefault();
      var carreraSeleccionada  = $("#carreraSeleccionada").val();
      if(carreraSeleccionada==''){
         var modelessMenuIzq = new $.flavr({
            modal   : true,
            //title       : 'Alerta del Sistema',
            content : '<div class="mensajeError">Por favor, seleccione una carrera y luego una materia para usar esta opción.',
            buttons : {
                  primary : { text: 'Acceptar', style: 'primary' }
            }
         });
      }
      else {
         var materiaSeleccionada = $("#materiaSeleccionada-Carrera_"+carreraSeleccionada).val();
         if(materiaSeleccionada =='') {
            var modelessMenuIzq = new $.flavr({
               modal   : true,
               //title       : 'Alerta del Sistema',
               content : '<div class="mensajeError">Por favor, seleccione una materia para usar esta opción.',
               buttons : {
                     primary : { text: 'Aceptar', style: 'primary' }
               }
            });
         }
         else {
            var idOpcionMateria     = $(this).attr("id");
            var idCarrera           = $("#carreraSeleccionada").val();
            var idMateria           = $("#materiaSeleccionada-Carrera_"+idCarrera).val();
            var tituloPanelMateria  = $("#nombreMateria_"+idMateria).html() + " ["+ $("#paraleloMateria_"+idMateria).html() +"]";
            var inicioCiclo         = $("#inicioCiclo-Carrera_"+idCarrera).val();
            var finCiclo            = $("#finCiclo-Carrera_"+idCarrera).val();
            
            if(idOpcionMateria.indexOf("asistencia")>0){
               var jumpOption                = '{{path('docentes_listado_alumnos_materia')}}';
               var obj_data                  = {'idMateria':idMateria,'idCarrera':idCarrera, 'inicioCiclo':inicioCiclo, 'finCiclo':finCiclo};
               var mensajeErrorOptMaterias   = "Lo sentimos. Se  presentó un problema para cargar el listado de asistencias.";
            }
            else if(idOpcionMateria.indexOf("listadonotas")>0){
               var jumpOption                = '{{path('docentes_notas_alumnos_materia')}}';
               var obj_data                  = {'idMateria':idMateria};
               var mensajeErrorOptMaterias   = "Lo sentimos. Se  presentó un problema para cargar la consulta de notas.";
            }
            else if(idOpcionMateria.indexOf("vistageneral")>0){
               var idDocente                 = 1;
               var jumpOption                = '{{path('docentes_vision_materia')}}';
               var obj_data                  = {'idDocente': idDocente,'idMateria':idMateria};
               var mensajeErrorOptMaterias   = "Lo sentimos. Se  presentó un problema para cargar la vista general de la materia."
            }
            
            if(jumpOption!=null){
               $.ajax({
                  url:   jumpOption,
                  type:  'post',
                  data: obj_data,
                  async: false,
                  beforeSend: function () {
                    modelessOpciones = new $.flavr({
                                                modal   : true,
                                                content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                                                buttons     : {}
                                             });
                  },
                  error: function(){
                     modelessOpciones.close();
                     modelessOpciones = new $.flavr({
                                                modal   : true,
                                                content : mensajeErrorOptMaterias,
                                                buttons     : {
                                                   primary : { text: 'Aceptar', style: 'primary' }
                                                }
                                             });
                  },
                  success:  function (dataResponse) {
                    modelessOpciones.close();
                    $("#panelCarrera-"+idCarrera).closest(".panel-body").html(dataResponse);
                  },
                  dataType:'html'
               });
            }
            
         }
      }


   });
</script>
