{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig' %}
{% block home %}  

<div class="col-lg-12">
  <div class="panel panel-primary">
    <div class="panel-body">
      <h2 align="center"><b>Secretaria Académica</b></h2>
      <p>&nbsp;</p>
          <div class="col-lg-1"></div>

          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6" style="padding: 0px;    margin-right: 30px;">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>Reporte</h3>
                  <h4>Inscritos & Matriculados</h4>
                </div>
                <a href="{{path('admin_academico_estudiante_carrera')}}" class="icon"><i class="fa fa-pie-chart"></i></a>
                <a href="{{path('admin_academico_estudiante_carrera')}}" class="small-box-footer"> Click Aqui <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6" style="padding: 0px;    margin-right: 30px;">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>Reporte</h3>
                  <h4>Materias Aprobadas</h4>
                </div>
                <a href="{{path('admin_academico_estudiante_materias')}}" class="icon"><i class="fa fa-bar-chart"></i></a>
                <a href="{{path('admin_academico_estudiante_materias')}}" class="small-box-footer"> Click Aqui <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6" style="padding: 0px;    margin-right: 30px;">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>Reporte</h3>
                  <h4>Estudiantes por Docentes</h4>
                </div>
                <a href="{{path('admin_listar_estudiantes')}}" class="icon"><i class="fa fa-search"></i></a>
                <a href="{{path('admin_listar_estudiantes')}}" class="small-box-footer"> Click Aqui <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->

          <div class="col-lg-1"></div>
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6" style="padding: 0px;    margin-right: 30px;">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>Proceso</h3>
                  <h4>Registro de Inscripción</h4>
                </div>
                <a href="{{path('admin_inscripcion')}}" class="icon"><i class="fa fa-edit"></i></a>
                <a href="{{path('admin_inscripcion')}}" class="small-box-footer"> Click Aqui <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6" style="padding: 0px;    margin-right: 30px;">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>Proceso</h3>
                  <h4>Legalización de Ordenes</h4>
                </div>
                <a href="{{path('admin_carreras_ordenpago')}}" class="icon"><i class="fa fa-file-text-o"></i></a>
                <a href="{{path('admin_carreras_ordenpago')}}" class="small-box-footer"> Click Aqui <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6" style="padding: 0px;    margin-right: 30px;">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>Proceso</h3>
                  <h4>Registros de Anulación</h4>
                </div>
                <a href="{{path('admin_anulacion')}}" class="icon"><i class="fa fa-check-square-o"></i></a>
                <a href="{{path('admin_anulacion')}}" class="small-box-footer"> Click Aqui <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->


    </div>
  </div>
</div>      

          


{% endblock %}