
<div class="col-lg-12 divordentemp">
    <h4 class="StepTitle" align="center" >Listado de Materias</h4>
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="col-lg-12">
                    <div class="table-responsive">
                    
                    <table  align='center' border='1' id="table-listarpago">
                        <thead>
                            <tr>
                                <td colspan='5'><input   class="form-control" id="disabledInput" type="text" placeholder="Nombres : {{ estudiante }}  Apellidos : {{ estudiante_ap }}  Identificacion : {{ identificacion }}  Estado:{{ EstadoAlumno }}" disabled STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 15px; background-color: #0B2161;" > </td>
                            </tr>
                            <tr>
                                <th style="text-align:center" >Nivel</th>
                                <th style="text-align:center" >Id Materia</th>
                                <th style="text-align:center">Materia</th>
                                <th style="text-align:center">Curso</th>
                                <th style="text-align:center">Veces</th>
                            </tr>
                        </thead>
                        <tbody>
                               {% for listado in inscripcion %}    
                                 <tr class="odd gradeX">
                                    <td   align="center"   width='5%' id="nivel_{{ listado.nivel }}">{{ listado.nivel }}</td>
                                    <td   align="center"   width='5%' id="idmat_{{ listado.id_sa_materia }}">{{ listado.id_sa_materia }}</td>
                                    <td align="center" width='5%' id="nombre_{{ listado.nombre }}">{{ listado.nombre }}</td>
                                    <td align="center" width='5%' id="curso_{{ listado.curso }}">{{ listado.curso }}</td>
                                    <td align="center" width='5%' id="veces_{{ listado.veces }}">{{ listado.veces }}</td>
                                </tr>
                            {% endfor %}  
                        </tbody>
                        <tfoot>
                           
                                    <tr>
                                      <td width='5%' colspan='3' align="center">
                                           {% if (identificacion!='' and EstadoAlumno=='REGISTRADO' )%}
                                              
                                                   <input type="checkbox" name="matricular_select" value="" id="selchk_cedula" onclick="Seleccion()"> <b>Cédula de Identidad</b>
                                                   <input type="checkbox" name="matricular_select" value="" id="selchk_votacion" onclick="Seleccion()"> <b>Papeleta de Votación</b>
                                                   
                                                   <input type="checkbox" name="matricular_select" value="" id="selchk_foto" onclick="Seleccion()"> <b>Fotos</b>
                                                   <input type="checkbox" name="matricular_select" value="" id="selchk_hoja" onclick="Seleccion()"> <b>Hoja de inscripción </b>

                                              
                                              {% endif %}
                                              </td>
                                            <td width='5%' colspan='2' align="right">
                                              {% if (EstadoAlumno=='REGISTRADO')%}
                                             
                                              <a class="btn btn-success" id='btnlegalorden'>Inscribir</a>
                                              
                                              {% endif %}
                                              <a class="btn btn-success" id='btnpdfordenpag' href="{{ path('admin_pdf_ordenpago',{ 'idEstudiante': idUsuarioEst,'idCarrera':idCarrera,'ciclo':idCiclo,'carrera':carrera,'identificacion':identificacion}) }}" target="_blank">Imprimir Orden de Pago</a>

                                            </td>
                                    </tr>
                           
                        </tfoot>
                    
                    </table>
                </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>

       
</div>
<script>
        var Indicaestado='{{EstadoAlumno}}';
         $(document).ready(function() {
            $("#btnlegalorden").attr("disabled", true);
            //$('#btnlegalorden').addClass('buttonDisabled');
            if (Indicaestado=='REGISTRADO')
                $("#btnpdfordenpag").hide(); 
            else
              $("#btnpdfordenpag").show(); 
          })


          function Seleccion() {
            var cuenta=0;
                  if ($("#selchk_hoja").is(':checked'))
                  {
                    cuenta=cuenta+1;
                  }
                   if ($('#selchk_foto').is(':checked'))
                  {
                    cuenta=cuenta+1;
                  } 
                  if ($('#selchk_cedula').is(':checked'))
                  {
                    cuenta=cuenta+1;
                  } 
                  if ($('#selchk_votacion').is(':checked'))
                  {
                    cuenta=cuenta+1;
                  } 
                  if (cuenta==4)
                  {
                    $("#btnlegalorden").attr("disabled", false);
                  }
                  else
                  {
                    $("#btnlegalorden").attr("disabled", true);
                  }

                   
         }

          
                $("#btnlegalorden").on("click",function(event){
                              if ($("#btnlegalorden").is('[disabled]'))
                                          {
                                              
                                          }
                                else
                                {
                    
                                  $("#btnlegalorden").attr("disabled", true);
                                    var idEstudiante='{{idUsuarioEst}}';
                                    var idCiclo='{{idCiclo}}';
                                    var cuenta=0;
                                    if ($("#selchk_hoja").is(':checked'))
                                    {
                                      cuenta=cuenta+1;
                                    }
                                     if ($('#selchk_foto').is(':checked'))
                                    {
                                      cuenta=cuenta+1;
                                    } 
                                    if ($('#selchk_cedula').is(':checked'))
                                    {
                                      cuenta=cuenta+1;
                                    } 
                                    if ($('#selchk_votacion').is(':checked'))
                                    {
                                      cuenta=cuenta+1;
                                    }
                                    var obj_data = {'idUsuarioEst':idEstudiante,'idCiclo':idCiclo,'documentos':cuenta};
                                    var jumpAction = '{{path('admin_inscripcion_resgistrar')}}';
                                    $.ajax({
                                       url:   jumpAction,
                                       data: obj_data,
                                       type:  'post',
                                       async: true,
                                       beforeSend: function () 
                                       {
                                        
                                       },
                                       success:  function (dataResponse) 
                                       {
                                           var respuesta=jQuery.parseJSON(dataResponse);
                                           if (respuesta.codigo_error!=1)
                                           {
                                              var mensaje='No se ha podido realizar la inscripción';
                                              if (respuesta.codigo_error==55)
                                              {
                                                 mensaje=respuesta.mensaje;
                                              }
                                                $("#btnlegalorden").attr("disabled", false);
                                                modelessActualizadOrden2= new $.flavr({
                                                       modal   : true,
                                                       content : mensaje,
                                                       buttons     : {
                                                          primary : { text: 'Aceptar', 
                                                          style: 'primary' }
                                                       }
                                                    });
                                           }
                                           else
                                           {
                                            modelessActualizadOrden2= new $.flavr({
                                                       modal   : true,
                                                       content : 'Proceso Exitoso',
                                                       buttons     : {
                                                          primary : { text: 'Aceptar', 
                                                          style: 'primary' }
                                                       }
                                                    });
                                                         //$(".divordentemp").remove();
                                                         $("#btnlegalorden").remove();
                                                         $("#btnpdfordenpag").show(); 
                                                         
                                           }         
                                       },
                                       error: function(dataResponse)
                                       {
                                          form="accordion";
                                          msg_alert = alert_bootstrap( form, 'Atenci&oacute;n', "Nos encontramos en mantenimiento de nuestros servidores, por favor intenta nuevamente m&aacute;s tarde.", 'sm', 'alert');
                                                  $( '#'+form ).append( msg_alert );
                                                  $('#modal-'+form).modal('show');
                                       },
                                       dataType:'html'
                                    });  
                                    } 
                                   
                    });
                
              
</script>