
<div class="row">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                {% if (identificacion!='' and EstadoAlumno=='REGISTRADO' )%}
                <div class="col-md-8">
                 {% else  %}
                 <div class="col-md-12">
                 {%  endif %}
                    <div class="table-responsive">

                      {%if (identificacion!='' and EstadoAlumno=='REGISTRADO' )%}
                        <table  align='center' border='0' id="table-documentos">   
                            <thead> 
                                <tr>
                                    <td colspan='3' align='center'> <input    type="label" placeholder="Documentación requerida" disabled STYLE="color: #000; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #0B2161;" text-align='center' ></td>
                                </tr>
                            </thead>
                            <tr>      
                                <td>       
                                    <input type="checkbox" name="matricular_select" value="" id="selchk_cedula" onclick="Seleccion()"> <b>Cédula de Identidad</b>
                                </td>
                                <td >&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="checkbox" name="matricular_select" value="" id="selchk_votacion" onclick="Seleccion()"> <b>Papeleta de Votación</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="matricular_select" value="" id="selchk_foto" onclick="Seleccion()"> <b>Fotos</b>
                                </td>
                                <td >&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="checkbox" name="matricular_select" value="" id="selchk_hoja" onclick="Seleccion()"> <b>Hoja de inscripción </b>
                                </td>
                            </tr>
                            <tr>
                              <td >&nbsp;&nbsp;&nbsp;</td>
                              <td >&nbsp;&nbsp;&nbsp;</td>
                              <td >&nbsp;&nbsp;&nbsp;</td>
                            </tr>

                        </table>
                      {% endif %}
                    
                    <table  align='center' class="table table-bordered table-hover" id="table-listarpago">
                      <caption STYLE="text-align:center;font-size: 15px;"><label>{{ estudiante }}{{ estudiante_ap }}    -    Nº. Identificación: {{ identificacion }}    -    Estado de Matricula: {{ EstadoAlumno }}</label></caption>
                        <thead style="background-color: #3C8DBC;color:#fff;">
                            <tr>
                                <th style="text-align:center">Nivel</th>
                                <th style="text-align:center">Id Materia</th>
                                <th style="text-align:center">Materia</th>
                                <th style="text-align:center">Curso</th>
                                <th style="text-align:center">Veces</th>
                            </tr>
                        </thead>
                        <tbody>
                               {% for listado in inscripcion %}    
                                 <tr class="odd gradeX">
                                    <td align="center" width='5%' id="nivel_{{ listado.nivel }}">{{ listado.nivel }}</td>
                                    <td align="center" width='5%' id="idmat_{{ listado.id_sa_materia }}">{{ listado.id_sa_materia }}</td>
                                    <td style="padding: 0 2%" width='5%' id="nombre_{{ listado.nombre }}">{{ listado.nombre }}</td>
                                    <td align="center" width='5%' id="curso_{{ listado.curso }}">{{ listado.curso }}</td>
                                    <td align="center" width='5%' id="veces_{{ listado.veces }}">{{ listado.veces }}</td>
                                </tr>
                            {% endfor %}  
                        </tbody>
                        <tfoot></tfoot>

                    
                    </table>
                    <div class="col-lg-12" style="margin-top:10px;">
                      <div class="col-lg-8"></div>
                      <div class="col-lg-4" style="right:-5px; padding-top: 6px; font-weight: bold;">
                      <a class="btn btn-success" id='btnpdfordenpag' href="{{ path('admin_pdf_ordenpago',{ 'idEstudiante': idUsuarioEst,'idCarrera':idCarrera,'ciclo':idCiclo,'carrera':carrera,'identificacion':identificacion}) }}" target="_blank">Imprimir Orden de Pago</a></div>
                    </div>
                </div>
                </div>


                  {% if (identificacion!='' and EstadoAlumno=='REGISTRADO' )%}
                  <div class="col-md-4">
                  <div><p>&nbsp;</p></div>
                  <div class="box box-primary">
                    <div class="box-header with-border"><i class="fa fa-pencil-square-o"></i><h3 class="box-title">Requisitos</h3></div>
                    <div><p>&nbsp;</p></div>

                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                      <table>
                        <tbody>
                          
                          <tr><td><input type="checkbox" name="matricular_select" value="" id="selchk_cedula" onclick="Seleccion()"> <b>Cédula de Identidad</b></td></tr>
                          <tr><td><input type="checkbox" name="matricular_select" value="" id="selchk_votacion" onclick="Seleccion()"> <b>Papeleta de Votación</b></td></tr>
                          <tr><td><input type="checkbox" name="matricular_select" value="" id="selchk_foto" onclick="Seleccion()"> <b>Fotos</b></td></tr>
                          <tr><td><input type="checkbox" name="matricular_select" value="" id="selchk_hoja" onclick="Seleccion()"> <b>Hoja de inscripción </b></td></tr>
                         
                        </tbody>
                      </table>
                      </div>

                      
                      <div><p>&nbsp;</p></div>
                      <div><p>{% if (EstadoAlumno=='REGISTRADO')%}<a class="btn btn-primary" id='btnlegalorden'>Inscribir</a>{% endif %}</p></div>
                      

                  </div><!-- /.box -->  
                </div>

                 {% endif %}
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>

       
</div>
<script>
        var Indicaestado='{{EstadoAlumno}}';
        var idEstudiante='{{idUsuarioEst}}';
         $(document).ready(function() {

            $("#btnlegalorden").attr("disabled", true);
            //$('#btnlegalorden').addClass('buttonDisabled');
            if (Indicaestado=='REGISTRADO' || idEstudiante=='0')
                $("#btnpdfordenpag").hide(); 
            else
                $("#btnpdfordenpag").show(); 
          })


          function Seleccion() {
            var cuenta=0;
                  if ($("#selchk_hoja").is(':checked'))
                  {
                    cuenta=cuenta+1;
                  }
                   if ($('#selchk_foto').is(':checked'))
                  {
                    cuenta=cuenta+1;
                  } 
                  if ($('#selchk_cedula').is(':checked'))
                  {
                    cuenta=cuenta+1;
                  } 
                  if ($('#selchk_votacion').is(':checked'))
                  {
                    cuenta=cuenta+1;
                  } 
                  if (cuenta==4)
                  {
                    $("#btnlegalorden").attr("disabled", false);
                  }
                  else
                  {
                    $("#btnlegalorden").attr("disabled", true);
                  }

                   
         }

          
                $("#btnlegalorden").on("click",function(event){
                              if ($("#btnlegalorden").is('[disabled]'))
                                          {
                                              
                                          }
                                else
                                {
                    
                                  $("#btnlegalorden").attr("disabled", true);
                                    var idEstudiante='{{idUsuarioEst}}';
                                    var idCiclo='{{idCiclo}}';
                                    var cuenta=0;
                                    if ($("#selchk_hoja").is(':checked'))
                                    {
                                      cuenta=cuenta+1;
                                    }
                                     if ($('#selchk_foto').is(':checked'))
                                    {
                                      cuenta=cuenta+1;
                                    } 
                                    if ($('#selchk_cedula').is(':checked'))
                                    {
                                      cuenta=cuenta+1;
                                    } 
                                    if ($('#selchk_votacion').is(':checked'))
                                    {
                                      cuenta=cuenta+1;
                                    }
                                    var obj_data = {'idUsuarioEst':idEstudiante,'idCiclo':idCiclo,'documentos':cuenta};
                                    var jumpAction = '{{path('admin_inscripcion_resgistrar')}}';
                                    $.ajax({
                                       url:   jumpAction,
                                       data: obj_data,
                                       type:  'post',
                                       async: true,
                                       beforeSend: function () 
                                       {
                                        
                                       },
                                       success:  function (dataResponse) 
                                       {
                                           var respuesta=jQuery.parseJSON(dataResponse);
                                           if (respuesta.codigo_error!=1)
                                           {
                                              var mensaje='No se ha podido realizar la inscripción';
                                              if (respuesta.codigo_error==55)
                                              {
                                                 mensaje=respuesta.mensaje;
                                              }
                                                $("#btnlegalorden").attr("disabled", false);
                                                modelessActualizadOrden2= new $.flavr({
                                                       modal   : true,
                                                       content : mensaje,
                                                       buttons     : {
                                                          primary : { text: 'Aceptar', 
                                                          style: 'primary' }
                                                       }
                                                    });
                                           }
                                           else
                                           {
                                            modelessActualizadOrden2= new $.flavr({
                                                       modal   : true,
                                                       content : 'Proceso Exitoso',
                                                       buttons     : {
                                                          primary : { text: 'Aceptar', 
                                                          style: 'primary' }
                                                       }
                                                    });
                                                         //$(".divordentemp").remove();
                                                         $("#btnlegalorden").remove();
                                                         $("#btnpdfordenpag").show(); 
                                                         
                                           }         
                                       },
                                       error: function(dataResponse)
                                       {
                                          form="accordion";
                                          msg_alert = alert_bootstrap( form, 'Atenci&oacute;n', "Nos encontramos en mantenimiento de nuestros servidores, por favor intenta nuevamente m&aacute;s tarde.", 'sm', 'alert');
                                                  $( '#'+form ).append( msg_alert );
                                                  $('#modal-'+form).modal('show');
                                       },
                                       dataType:'html'
                                    });  
                                    } 
                                   
                    });
                
              
</script>