<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link type="text/css" rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/styles/animate.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/styles/all.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/flavr/flavr.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/growl/jquery.growl.css') }}" >

<link rel="stylesheet" href="{{ asset('js/lib/iOS-Overlay/css/iosOverlay.css') }}">
<link rel="stylesheet" href="{{ asset('js/lib/iOS-Overlay/css/prettify.css') }}">
<link rel="icon" type="image/x-icon" href="{{ asset('images/menu/ug_logo.png') }}" />
<link type="text/css" rel="stylesheet" href="{{ asset('theme/bootstrap/css/bootstrap.min.css') }}">


<script src="{{ asset('theme/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
<script src="{{ asset('lib/bootstrap-strength.min.js') }}"></script> 
<script src="{{ asset('js/flavr/flavr.js') }}"></script>
<script src="{{ asset('js/flavr/flavr.min.js') }}"></script>
<script src="{{ asset('js/growl/jquery.growl.js') }}"></script>
<script src="{{ asset('js/mensajes.js') }}"></script>

<script src="{{ asset('js/lib/iOS-Overlay/js/iosOverlay.js') }}"></script>
<script src="{{ asset('js/lib/iOS-Overlay/js/modernizr-2.0.6.min.js') }}"></script>
<script src="{{ asset('js/lib/jquery-spin/spin.min.js') }}"></script>
<script src="{{ asset('js/sistemau.functions.js') }}"></script>


<style type="text/css">

.progress{float: right;width: 222px !important;margin-top: -23px !important;}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input {
  width: 50% !important;
  float: right !important;
  margin: -50px 1px !important;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content {font-size: 12px !important;}
.flavr-container .flavr-fixer .flavr-outer {min-width: 500px !important;}
.flavr-form{margin: 20px 0px;text-align: left;}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message {line-height: 2.0; text-shadow: none;}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-icon,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-title {text-align: center;}
.cambioContrasenia{line-height: 1.2;}
.flavr-container .flavr-fixer {margin: 1% auto 0px !important;}
.flavr-container .flavr-overlay {background: #d2d6de !important;}

.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar{background: #fff !important;}
.flavr-container .flavr-fixer .flavr-outer .flavr-content {
  border-top: 5px solid #005595 !important;
  background: #fff !important;
  color: #000 !important;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input { 
  border: 1.5px solid #d2d6de !important; 
  background: #FAFFBD !important;
}
.flavr-container .flavr-overlay {background: #d2d6de !important;}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar.inline .flavr-button { font-weight: bold; }
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.danger { background-color: #F44A56; }

</style>

<script type="text/javascript">

  $(document).ready(function ($) {
  setTimeout('login();',1000);
});

  function valideKey(evt)
    {
      var code = (evt.which) ? evt.which : evt.keyCode;
      if(code==8)
      {
          //backspace
          return true;
      }
      else if(code>=48 && code<=57)
      {
          //is a number
          return true;
      }
      else
      {
          return false;
      }
  }

var btn_login = 0;

function recordar_pass () {
    $("#password").hide();
    $("#iniciar").show();
    $("#recordar_link").hide();
    $("#btn_iniciar").hide();

}

function iniciar_sesion () {
  $("#password").show();
  $("#btn_iniciar").show();
  $("#iniciar").hide();

  $("#recordar_link").show();
}


function validaContrasenia(idCaja){
  expr = /(?=^[A-Z].{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/
  
  band = true;

  stringvalue = $("#"+idCaja).val();

  //alert(stringvalue);

  if(stringvalue != ""){
  
    if (!expr.test(stringvalue))
    {
       mensaje_cisc( "error", "Contraseña invalida.");
        $("#"+idCaja).val('');
        band = false;
    }
  }
  return band;
}

  function cargarCaptcha(){
    $('#captcha').attr("src",'{{path('titulacion_sis_academico_get_captcha')}}?rnd=' + Math.random());
  }

function login(stringvalue){
   
    btn_login = btn_login +1*1;
    if (btn_login == 1) {


     $('.login-are').removeAttr('click');

          var htmlCabecera = 
          '<div class="cambioContrasenia">' +
          '<p>Estimado Usuario, la clave ingresada debe considerar los siguientes requisitos.<br /></p>' +
          '<p>&nbsp;&nbsp;-  El primer carácter debe ser alfanumérico en mayúsculas</p>' +
          '<p>&nbsp;&nbsp;-  Longitud 8 caracteres que contengan las siguientes caracteristicas:<br /></p>' +
          '<ul><li>  Letras abecedario Mayúsculas (A-Z).</li>' +
          '<li>  Letras abecedario minúsculas (a-z).</li>' +
          '<li>  Números (0-9). </li>' +
          '<li>  Caracteres especiales.</li></ul><br/></div>' ;  
          var html =
          '<div class="flavr-message"> Usuario:</div>'+
          '<div class="form-row">' +
          '<input id="usuario" type="text" name="usuario" onkeypress="return valideKey(event);" maxlength="10"' +
          'placeholder="Usuario"  required /> <p class="help-block"></p>' +
          '</div>' +
          '<div class="flavr-message"> Ingrese Contraseña:</div>'+
          '<div class="form-row">' +
          '<input id="password" type="password" name="password" ' +
          'placeholder="Contraseña"  required /> <p class="help-block"></p>' +
          '</div>' +
          '<div class="flavr-message"> Ingrese su nueva Contraseña:</div>'+
          '<div class="form-row" >' +
          '<input id="password1" type="password" class="demo-2" onchange="return validaContrasenia(this.id)" ' +
          'placeholder="Nueva Contraseña"  required /> ' +
          '</div>' +
          '<div class="flavr-message"> Confirme su nueva Contraseña:</div>'+
          '<div class="form-row">' +
          '<input id="password2" type="password" name="password2" ' +
          'placeholder="Confirme Contraseña" required /> <p class="help-block"></p>' +
          '</div>'  ;
          
          var captcha3 =
          '<div class="flavr-message">' +
          '<img src="{{path('admin_academico_get_captcha')}}" alt="" id="captcha" />' +
          '<img src="{{ asset('images/')}}refresh.jpg" width="25" alt="" id="refresh" onclick="cargarCaptcha();" />'+
          '</div>'+
          '<div class="form-row">' +
          '<input name="code" type="text" id="code" placeholder="Digite el Codigo" required> <p class="help-block"></p>' +
          '</div>';


          html = htmlCabecera + html + captcha3; 
       

    new $.flavr({
        title       : 'Restablecer Contraseña',
        iconPath    : '{{ asset('images/menu/')}}',
        icon        : 'ug_logo.png',
        dialog      : 'form',
        form        : {  content: html, method: 'get'},
        buttons : {
        submit  : { text: 'Aceptar', style: 'primary', addClass: 'submit-btn', id: 'btn_iniciar',
                    action: function( $container, $second, $third ){
                      var bandValid = 0;
                      var msgError = "";

                      $("#usuario").val($.trim($("#usuario").val()));
                      $("#password").val($.trim($("#password").val()));
                      $("#password1").val($.trim($("#password1").val()));
                      $("#password2").val($.trim($("#password2").val()));

                      if ($("#usuario").val() == '' || $("#password").val() == ''|| $("#password1").val() == ''|| $("#password2").val() == '') {
                         msgError = "Todos los campos deben estar llenos.";
                         bandValid = 1;
                      }else{

                        if($("#password").val() == $("#password1").val())
                          {
                            msgError = "Su nueva contraseña debe ser diferente a la actual.";
                            $("#password1").val('') ;
                            bandValid = 1;
                          }else{
                            if($("#password1").val() != $("#password2").val())
                              {
                                msgError = "Las contraseñas no coinciden.";
                                $("#password2").val('') ;
                                bandValid = 1;
                              }
                         }
                      }

                      if(bandValid == 1){

                          mensaje_cisc( "error", msgError);
                          this.wobble();
                          
                      }else{
                        var modelessCambioPassword;
                        $.ajax({
                          url:   '{{path('admin_academico_ingreso_nuevo_pass')}}',
                          data: {'user': $("#usuario").val(),'pass': $("#password").val(),'pass1': $("#password1").val(),'code':$("#code").val()},
                          type:  'post',

                          beforeSend: function () {
                            modelessCambioPassword = new $.flavr({
                              modal   : true,
                              content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                              buttons     : {}
                              });
                          },
                          error:function(){
                            modelessCambioPassword.close();
                              btn_login = 0;                          
                              mensaje_cisc( "error", "En estos momentos tenemos problemas con los servidores, lamentamos los inconvenientes");
                          },
                          success:  function (dataResponse) {
                            modelessCambioPassword.close();
                            //alert(dataResponse);

                             var error = JSON.parse(dataResponse).valError;
                               if(error == "1"){
                                   mensaje_cisc( "error", "El código de verificación es incorrecto.");

                               }else{
                                  var codigo = JSON.parse(dataResponse).Codigo[0];
                                  var mensaje = JSON.parse(dataResponse).Mensaje[0];

                                  if (codigo == "1") {
                                    mensaje_cisc( "notice", "Contraseña cambiada correctamente");

                                  }
                                  else{
                                    mensaje_cisc( "error", mensaje);
                                  }

                               }
                          
                           
                          },
                          dataType:'html'
                          });
                      }
                        return false;
                    }
        
        },
        danger: { text: 'Salir',id:'salir', style: 'danger', action: function(){ this.animate('fadeOutDown'); location.href = '{{path('titulacion_sis_academico_ingresar')}}'; return false }}

    }
    });
 $('.demo-2').bootstrapStrength({slimBar:true});

    }

}

</script>