{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig' %}


{% block contenido %}
 
   
      <link type="text/css" rel="stylesheet" href="{{ asset('css/styles/animate.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/styles/all.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/flavr/flavr.css') }}">

       <script type="text/javascript">
           
            $(document).ready(function (){
                
                  $("#Generar").click(function (){
                      var cedula = $("#Cedula").val();
                                            
                     obj_data = {'cedula': cedula};
                    
                    var jumpAction = '{{path('admin_generacion_horario_examene2')}}';
                                 var modelessSetMatricula;
                                  $.ajax({
                                     url:   jumpAction,
                                     data: obj_data,
                                     type:  'post',
                                     async: true,
                                     beforeSend: function () {
                                        modelessSetMatricula = new $.flavr({
                                                             modal   : true,
                                                             content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Procesando Registro...</b>',
                                                             buttons     : {}
                                                          });                               
                              
                                     },
                                     success:  function (dataResponse) {
                                        modelessSetMatricula.close();
                                       var respuesta=jQuery.parseJSON(dataResponse);
                                       $("#div_respuesta").html(respuesta.mensaje);
                                       if (respuesta.codigo_error!=1)
                                       {
                                            $('.botonMatriculaSig').addClass('buttonDisabled');
                                            $('.botonAnterior').removeClass('buttonDisabled');
                                            $("#btninscribe").attr("disabled", false);
                                             modelessProcesoMat= new $.flavr({
                                                           modal   : true,
                                                           content : respuesta.mensaje,
                                                           buttons     : {
                                                              primary : { text: 'Aceptar', style: 'primary' }
                                                           }
                                                        });
                                           
                                       }
                                       else
                                       {
                                        modelessProcesoMat= new $.flavr({
                                                           modal   : true,
                                                           content : respuesta.mensaje,
                                                           buttons     : {
                                                              primary : { text: 'Aceptar', style: 'primary' }
                                                           }
                                                        });
                                        $('.botonAnterior').addClass('buttonDisabled');
                                        $('.botonMatriculaSig').removeClass('buttonDisabled');
                                        $("#btninscribe").remove();
                                        $(".botonMatriculaSig").show();

                                       }
                                     },
                                      error: function(dataResponse)
                                      {
                                        modelessSetMatricula.close();
                                          //nlanzarModal('Cargado', 'fue cargado', 'cerrar');
                                          //tablaNotasa.html("No fue posible conectar con el Servidor");
                                        form="accordion";
                                        msg_alert = alert_bootstrap( form, 'Atenci&oacute;n', "Nos encontramos en mantenimiento de nuestros servidores, por favor intenta nuevamente m&aacute;s tarde.", 'sm', 'alert');
                                                        $( '#'+form ).append( msg_alert );
                                                        $('#modal-'+form).modal('show');
                                      },
                             //         timeout: 50000

                                 dataType:'text'
                              });
                      
                  });          
              });  
         </script>
<section class="content">

   <div class="page-content" style="height: 600px;">
        <div  class="col-xs-14">
     
           {#  <form id="form-enviar" method="post" action="{{ path('dayscript_index') }}">  #}
           
                <div class="col-md-12">
                           
                    <div class="contentedit2">

                                        <h3>
                          Generación de Horarios de Examen  

                        </h3>
               <div>

                            <div class="col-md-5">

                                 <div class="box box-solid">
                                    <div class="panel-heading">                 
                                        <div class="box-header with-border">
                                             <h5 class="box-title">Datos Usuario</h5>
                                        </div>
                
                                         <div class="modal-body">
                                          <label for="inputName" class="col-sm-8 control-label">Nombres y Apellidos</label>  
                                           <input type="text" class="form-control" value="{{app.session.get('nom_usuario')}}"  id="Nombre" name="Nombres" placeholder="Nombre" disabled>

                                       <br />

                                          <label for="inputName" class="col-sm-2 control-label">Cedula</label>                       
                                            <input type="text" value="{{app.session.get('cedula')}}" class="form-control" id="Cedula"  name="Cedula" placeholder="Cedula" disabled>

                                        <br />

                                          <label for="inputName" class="col-sm-2 control-label">Rol</label>     
                                            <input type="text" class="form-control" value="{{app.session.get('descRol')}}" name="Rol_Estudiante" id="Rol_Estudiante"  placeholder="Rol" disabled>

                                             <br />            
                                          </div>
                                     </div>
                                 </div>
                              </div>

                              <div class="col-md-7">


                                    <div class="box box-solid">
                                    <div class="panel-heading">                 
                                        <div class="box-header with-border">
                                             <h5 class="box-title">Generar Horarios de Examen</h5>
                                        </div>
                
                                         <div class="modal-body">
                                           
                                             
                                          <button id="Generar" type="submit" class="btn btn-success">Generar Horarios de Examen</button>
                                     </div>

                              </div>
                          </div>
                                 </div>

                       </div>

                  </div>


              </div>
            
           {# <form>#} 

       </div>
   </div>
                     
  </div>
{% endblock %}


