{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig' %}


{% block home %}
  <link type="text/css" rel="stylesheet" href="{{ asset('css/styles/animate.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/styles/all.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/flavr/flavr.css') }}">
    
    
     <script type="text/javascript">
  $(function () {
           TableAdvanced.init();
    });  
   
</script>

          <script type="text/javascript">
               {# function horario(id) {
                    
                 var obj_data = {'id': id};
                    //var obj_data = {};
                              //console.log(obj_data);
                    var jumpAction = '{{path('admin_pdfhorarios')}}';
                                 
                                  $.ajax({
                                     url:   jumpAction,
                                     data: obj_data,
                                     type:  'post',
                                     async: true,
                                   {#  beforeSend: function () {
                                        modelessSetMatricula = new $.flavr({
                                                             modal   : true,
                                                             content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Procesando Registro...</b>',
                                                             buttons     : {}
                                                          });                               
                              
                                     },#}
                                     
                             //         timeout: 50000

                                {# dataType:'text'
                              });
                }#}
           </script>
   
   
  <script src="{{ asset('js/EnviarMensajes.js') }}"></script>
    <script src="{{ asset('js/ValidacionesNotificaciones.js') }}"></script>
<script src="{{ asset('theme/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
   

        
      <section class="content">

      <div class="page-content" style="height: 545px;">
          
            
            <div class="col-md-12">
              <div class="box-header with-border">
                <h3 class="box-title">Horarios de Examenes por docente</h3>
               
            </div><!-- /.box-header -->
             <div class="box box-solid">
                            <div class="panel-heading">    
           <div class="box box-solid">
			       
				        <table class="table table-striped table-bordered table-hover" id="sample_1">
				        <thead>
				        <tr>
					        <th> Codigo </th>	
                                                <th> Docente </th>	
					        <th> Descripcion   </th>					       
                                                <th style="text-align: center">Descargar</th>
				        </tr>
				        </thead>
				        <tbody>
                    {% for docentes in data.docentes %} 
                                            <tr>
                                                <td style="text-align: center">{{ docentes.id_sg_usuario }}</td> 
                                                <td style="text-align: center">{{ docentes.profesor }}</td>                               
                                                <td style="text-align: center">Horario Examen</td>
                                                <td style="text-align: center">  <a target="_blank" href="{{path('admin_pdfhorarios_examen', {'id':docentes.id_sg_usuario,'nombre':docentes.profesor})}}"  id="31" name="Mensaje_1">
                                    <i class="fa fa-download"></i>                                                           
                                    </a></td>       </tr>
                                     {%endfor%}  
                           
                           
                                                              
                    </tbody>
				        </table>
			        
		      
            </div>                 
            </div>
          </div>
            </div>
        
          </div>
        </section>

   
                

{% endblock %}

