{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig' %}


{% block contenido %}
 
   
      <link type="text/css" rel="stylesheet" href="{{ asset('css/styles/animate.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/styles/all.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/flavr/flavr.css') }}">
    
    
        
         {# <script type="text/javascript">
    var modelessrespuesta;           
    $(function () {
                       
                         var sesion_= <?php echo $_SESSION['respuesta']; ?>; 
                         if(sesion == "cargo"){
                           $( "#Guardar").css("display","none");
                                         var  msg_alert = alert_bootstrap( 'enviar', 'Atenci&oacute;n', "Formato de solicitud cargada correctamente", 'sm', 'alert');
                                             $("#content-enviar" ).append( msg_alert );
                                             $('#modal-enviar').modal('show');
                                             
                                                modelessrespuesta = new $.flavr({
                        modal   : true,
                        content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                        buttons     : {}
                     });
                                         }        
                  });  
             </script>#}
    
<script type="text/javascript">
               var modelessSubirSolicitudes;
            $(document).ready(function (){
                var fileExtension = "";
                var fileSize="";
                var fileType="";
                    //función que observa los cambios del campo file y obtiene información
                    $("#imagen_").change(function()
                    { 
                        var file = $("#imagen_")[0].files[0];                      
                        var fileName = file.name;                        
                        fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);                       
                        fileSize = file.size;                       
                        fileType = file.type;
                 //word y pdf
                   });
                   
                   
                
                  $("#SubirS").click(function (){
                      
                      var cedula = $("#NSolicitud").val();
                      var Solicitud = $("#imagen_").val();   
                      
                      if(cedula == ""){
                          //alert("Debe Seleccionar un archivo");
                           $( "#Guardar").css("display","none");
                            var  msg_alert = alert_bootstrap( 'enviar', 'Atenci&oacute;n', "Ingrese Nombre de la Solicitud", 'sm', 'alert');
                                $("#content-enviar" ).append( msg_alert );
                                $('#modal-enviar').modal('show');
                          return false;
                      }
                      if(fileSize == ""){
                         // alert("Debe Seleccionar un archivo");
                           $( "#Guardar").css("display","none");
                            var  msg_alert = alert_bootstrap( 'enviar', 'Atenci&oacute;n', "Debe Seleccionar un archivo", 'sm', 'alert');
                                $( "#content-enviar" ).append( msg_alert );
                                $('#modal-enviar').modal('show');
                          return false;
                      }
                       
                        modelessSubirSolicitudes = new $.flavr({
                        modal   : true,
                        content : '<i class="fa fa-refresh fa-spin"></i> &nbsp;<b>Cargando...</b>',
                        buttons     : {}
                     });
        
                      
                  });          
              });  
         </script>
   
     
<section class="content">

   <div class="page-content" style="height: 600px;">
        <div id="content-enviar" class="col-xs-14">
     
           {#  <form id="form-enviar" method="post" action="{{ path('dayscript_index') }}">  #}
           
                <div class="col-md-12">
                           
                    <div class="contentedit2">

                                        <h3>
                          Subir Solicitud  

                        </h3>
               <div>
                   <form method="post" action="{{path('admin_subir_solicitud')}}" enctype="multipart/form-data">
                            <div class="col-md-5">

                                 <div class="box box-solid">
                                    <div class="panel-heading">                 
                                        <div class="box-header with-border">
                                             <h5 class="box-title">Datos Usuario</h5>
                                        </div>
                
                                         <div class="modal-body">
                                          <label for="inputName" class="col-sm-8 control-label">Nombres y Apellidos</label>  
                                           <input type="text" class="form-control" value="{{app.session.get('nom_usuario')}}"  id="Nombre" name="Nombres" placeholder="Nombre" disabled>

                                       <br />

                                          <label for="inputName" class="col-sm-2 control-label">Cedula</label>                       
                                            <input type="text" value="{{app.session.get('cedula')}}" class="form-control" id="Cedula"  name="Cedula" placeholder="Cedula" disabled>

                                        <br />

                                          <label for="inputName" class="col-sm-2 control-label">Rol</label>     
                                            <input type="text" class="form-control" value="{{app.session.get('descRol')}}" name="Rol_Estudiante" id="Rol_Estudiante"  placeholder="Rol" disabled>

                                             <br />            
                                          </div>
                                     </div>
                                 </div>
                              </div>

                              <div class="col-md-7">


                                    <div class="box box-solid">
                                          <div class="panel-heading"> 
                                    <div class="box-header with-border">
                                             <h5 class="box-title">Datos Solicitud</h5>
                                        </div>
                                        <div class="modal-body">
                                            <label for="inputName" class="col-sm-4 control-label">Nombre de Solicitud:</label>                       
                                            <input type="text" class="form-control" id="NSolicitud"  name="NSolicitud" placeholder="Escriba Nombre de la Solicitud">

                                        <br />
                                            
                                             <h5 class="box-title">Elegir Solicitud</h5>
                                       
                
                                        
                                             <input name="imagen_" type="file" id="imagen_" accept="application/msword, application/pdf"/>
                                         
                                         </div>
                                    
                                    <div class="modal-body">
                                          <button id="SubirS" type="submit" class="btn btn-success">Subir Solicitud</button>
                                     </div>
                                          </div>              

                              
                          </div>
                                 </div>
</form>
                       </div>

                  </div>


              </div>
            
           {# <form>#} 

       </div>
   </div>
                     
  </div>
{% endblock %}


