{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig' %}
{% block contenido %}
    <script src="{{ asset('js/EnviarMensajes.js') }}"></script>
    <script src="{{ asset('js/ValidacionesNotificaciones.js') }}"></script>
<script src="{{ asset('theme/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script type="text/javascript">
  $(function () {
           TableAdvanced.init();
        $(".selection").remove();
    });  
</script>

  <section class="content">

      <div class="page-content" style="height: 600px;">
          <div class="">
             
            
            <div class="col-md-12">
           
                                    
                                       
                              
				        <div class="box-header with-border">
               {# <h3 class="box-title">Eventos (Tienes # eventos nuevos)</h3>#}
               
            </div><!-- /.box-header -->
              <div class="box box-solid">
                            <div class="panel-heading">    
                                       
			         <div class="box box-solid">
				        <table class="table table-striped table-bordered table-hover" id="sample_1">
				        <thead>
				        <tr>
					        <th> Tipo </th>	
                                                  <th> Emisor </th>
					        <th> Asunto   </th>
					        <th> Detalle </th>
					        <th>Fecha de Envio</th>
                                                {#<th>Ver Mensajes</th>#}
				        </tr>
				        </thead>
				        <tbody>
                   
                          {% for Mensajes in data.Mensajes %} 
                            <tr>
                                <td style="text-align: center">{{ Mensajes.tipo_mensaje }}</td>  
                                  <td style="text-align: center">{{ Mensajes.nombres }}</td>
                                <td style="text-align: center">{{ Mensajes.asunto }}</td>
                                <td style="text-align: center">{{ Mensajes.mensaje }}</td>
                                <td style="text-align: center">{{ Mensajes.fecha_registro }}</td>
                                {# <td style="text-align: center">  <a href="{{ path('dayscript_Lectura')}}" id="Mensaje_1" name="Mensaje_1"><i class="fa fa-envelope-o"></i></a></td>#}
                            </tr>
                        {%endfor%}       
                                                     
                            
                            
                                                              
                    </tbody>
				        </table>
			        </div>
		      
                                      
            </div>
          </div>
            </div>
        
          </div>
                        
              </div>
        </section>


{% endblock %}


