{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig'%}

      {% block home %}

        {% if(bolcorrecto==1) %}
        <div class="col-lg-12">
          <div class="panel  panel-primary">
            <!--<div class="panel-heading">
              Collapsible Accordion Panel Group
            </div>-->
            <!-- .panel-heading -->
            <div class="panel-body">
                      <h2 align="center"><b>Carreras en Curso</b></h2>
              <div class="panel-group" id="accordion">
                
                  
                    
                          {% for facultad in facultades %} 
                              <div class="panel panel-default">
                                  <div class="panel-heading">  
                                      <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#{{ facultad.Carrera }}_{{ facultad.Facultad }}" class='tabscarrera' id="na_{{ facultad.Carrera }}_{{ facultad.Facultad }}_f" name="{{ facultad.Nombre }}">{{ facultad.Nombre }}</a>
                                      </h4>
                                  </div>

                                  <div id="{{ facultad.Carrera }}_{{ facultad.Facultad }}" class="panel-collapse collapse">
                                         <div class="table-responsive">
                                                  <!-- .panel-heading -->
                                                      <!--div class="panel-body"-->
                                                          <div class="panel-body" id ="na_{{ facultad.Carrera }}_{{ facultad.Facultad }}_tab">
                                                              <!-- Nav tabs -->
                                                              <div class="tab-content" style="border: 0px !important;height: 450px;">
                                                                       <div class="tab-pane fade in active" id="ctn_{{ facultad.Carrera }}_{{ facultad.Facultad }}" style="width: 100% !important">
                                                                          
                                                                      </div>

                                                              </div>
                                                          </div>
                                                      <!--/div-->
                                              </div>
                                          </div>
                                   
                              </div>
                          {% endfor %}   
                      </div>
              </div>
            </div>
            <!-- .panel-body -->
          </div>
          <!-- /.panel -->
        <!-- /.col-lg-9 -->
   
         <script>

         // set click callback
         var cuantos={{ cuantos }};
          if (cuantos==1)
          {
             var obj="#na_"+{{ idCarrera }}+"_"+{{ idFacultad}}+"_f";
             //alert(obj);
              obj.click();
          }

          </script>


      <script>
          $(".tabnotas, .tabscarrera").click(function(){
            
          var splitCarrera =$(this).attr('id').split('_'); 
          console.log(splitCarrera);
          var idIndica  = splitCarrera[0];
           var idCarrera  = splitCarrera[1];
           var idFacultad  = splitCarrera[2];
           var indicaClase  = splitCarrera[3];
           var idEstudiante  = {{idEstudiante}}; 
           var carrera =$(this).attr('name');
           var tablaNotasa = $('#ctn_'+idCarrera+'_'+idFacultad);
           if(indicaClase!=null )
           {

            $('.active_a').addClass('active');
            $('.temporal').removeClass('active');
           }
          var obj_data = {'idEstudiante': idEstudiante,'idCarrera':idCarrera,'idIndica':idIndica,'idFacultad':idFacultad,'carrera':carrera};
             var jumpAction = '{{path('estudiantes_anulacion_materias')}}';
              $.ajax({
                 url:   jumpAction,
                 data: obj_data,
                 type:  'post',
                 async: true,
                 beforeSend: function () {
                   tablaNotasa.html("Cargando, espere por favor...");
                 },
                 success:  function (dataResponse) {
                   tablaNotasa.html(dataResponse);
                 },
                  error: function(dataResponse)
                  {
                      
                    tablaNotasa.html("No fue posible conectar con el Servidor");
      				form="accordion";
      			    msg_alert = alert_bootstrap( form, 'Atenci&oacute;n', "Nos encontramos en mantenimiento de nuestros servidores, por favor intenta nuevamente m&aacute;s tarde.", 'sm', 'alert');
      								$( '#'+form ).append( msg_alert );
      								$('#modal-'+form).modal('show');
                  },
                 dataType:'html'
              });
          });
      </script>
    {% endif %}
 {% if(bolcorrecto==0) %}
  <div class="panel panel-primary"> No se encontraron Registros de Carreras</div>
{% endif %}
{% endblock %}
 
